@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

:root {
  --Header-height: #{rem($space * 3.75)};

  @include mq(m) {
    --Header-height: #{rem($space * 4.5)};
  }

  @include mq(l) {
    --Header-height: #{rem($space * 5.5)};
  }
}
