/* =======================================
 * Width
 * ======================================= */

@mixin Width($bp: '') {
  .Width--1\/12#{$bp}  { width: 8.333%; }
  .Width--2\/12#{$bp}  { width: 16.666%; }
  .Width--3\/12#{$bp}  { width: 25%; }
  .Width--4\/12#{$bp}  { width: 33.333%; }
  .Width--5\/12#{$bp}  { width: 41.666% }
  .Width--6\/12#{$bp}  { width: 50%; }
  .Width--7\/12#{$bp}  { width: 58.333%; }
  .Width--8\/12#{$bp}  { width: 66.666%; }
  .Width--9\/12#{$bp}  { width: 75%; }
  .Width--10\/12#{$bp} { width: 83.333%; }
  .Width--11\/12#{$bp} { width: 91.666%; }
  .Width--12\/12#{$bp} { width: 100%; }
}

@if $Width {
  @include Width();
}

@if $Width\@s {
  @include mq(s) {
    @include Width(\@s);
  }
}

@if $Width\@m {
  @include mq(m) {
    @include Width(\@m);
  }
}

@if $Width\@l {
  @include mq(l) {
    @include Width(\@l);
  }
}
