@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Template--mediasignal {
  --Template-bg-color: var(--mediasignal-bg-50);
  --Figure-placeholder-bg: var(--mediasignal-bg-100);
  --Figure-glare-opacity: 0.3;
}
