.Link {
  align-items: center;
  display: inline-flex;
  outline: 0;
  overflow: hidden;
  pointer-events: all;
  position: relative;
  transition: opacity $trans-primaryFastest;

  &:where(:hover) {
    opacity: var(--link-hover-opacity);
  }
}

.Link-text {
  display: block;
  pointer-events: none;
  position: relative;

  &:after {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    bottom: rem(2px);
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity $trans-primary;
    width: 100%;
  }
}

.Link-text--reveal {
  left: 0;
  position: absolute;
  top: 0;
}

.Link-icon {
  align-items: center;
  display: flex;
  margin-top: rem(-1px);
  position: absolute;
  right: 0;
}

/* ======
 * Modifiers
 * ====== */

.Link {
  &.-underline,
  &.is-active {
    .Link-text, .Link-text--reveal {
      &:after {
        opacity: 1;
      }
    }
  }

  &.-vertical {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;

    .Link-text {
      &:after {
        border-bottom-width: 0;
        border-left-style: solid;
        border-left-width: 1px;
        bottom: 0;
        top: 0;
      }
    }
  }

  &.-arrow {
    @include text(l);
    line-height: 1.75;
    padding-right: rem($space-l);

    .Link-text:after {
      bottom: 0;
    }
  }
}
