@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Link {
  align-items: center;
  display: inline-flex;
  gap: rem($space-xs);
  overflow: hidden;
  pointer-events: all;
  position: relative;
  transition: opacity var(--trans-primary-fastest);

  &:hover {
    opacity: var(--link-hover-opacity);
  }
}

.Link-text {
  display: block;
  pointer-events: none;
  position: relative;

  &.-hover {
    position: absolute;
  }
}

.Link-icon {
  align-items: center;
  display: flex;
  margin-top: rem(-$space-4xs);
}

/* =======================================
 * Variants
 * ======================================= */

.Link {
  &.-underline {
    .Link-text:first-child {
      text-decoration: underline;
      text-decoration-thickness: var(--border-width);
      text-underline-offset: rem($space-2xs);
    }
  }

  &.-vertical {
    padding-left: rem($space-2xs);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
}
