@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/**
 * 1. Fixes odd issue in Chromium where there sometimes seems to be extra text
 *    element under the animating elements
 */
.Link {
  align-items: center;
  display: inline-flex;
  gap: rem($space-xs);
  max-width: 100%;
  overflow: hidden;
  pointer-events: all;
  position: relative;
  transition:
    color var(--trans-primary-fastest),
    opacity var(--trans-primary-fastest);
  will-change: opacity; // [1.]
  word-break: break-word;

  &:hover {
    color: var(--link-hover, var(--link));
    opacity: var(--link-hover-opacity);
  }
}

.Link-text {
  display: block;
  pointer-events: none;
  position: relative;
  will-change: transform;

  &.-hover {
    position: absolute;
  }
}

.Link-icon {
  align-items: center;
  display: flex;
}

/* =======================================
 * Variants
 * ======================================= */

.Link {
  &.-underline {
    .Link-text:first-child {
      text-decoration: underline;
      text-decoration-thickness: var(--border-width);
      text-underline-offset: rem($space-2xs);
    }
  }

  &.-vertical {
    padding-left: rem($space-2xs);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
}
