@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--resume {
  .Template-aside,
  .Template-recommendations-aside {
    @include mq(l) {
      padding-right: rem($space-m);
    }
  }

  .Template-content,
  .Template-recommendations-content {
    @include mq(m) {
      border-left: var(--border-width) solid;
      padding-left: rem($space-xl);
    }

    @include mq(l) {
      padding-left: rem($space-2xl);
    }
  }

  .Template-aside {
    border: var(--border-width) solid var(--border-950);
    border-radius: var(--border-radius);
    margin: rem($space-l) 0 rem($space-2xl) 0;
    padding: rem($space-ml) rem($space-m);

    @include mq(m) {
      border: 0;
      border-radius: unset;
      margin: 0;
      order: -1;
      padding: calc(var(--Header-height) + #{rem($space-l)}) 0 0 0;
    }
  }

  .Template-content {
    padding-top: calc(var(--Header-height) + #{rem($space-l)});

    @include mq(m) {
      border-color: var(--border-950);
      padding-bottom: rem($space-2xl);
      padding-top: calc(var(--Header-height) + #{rem($space-2xl)});
    }
  }

  .Template-stepper-image {
    --Figure-width: #{rem($space-m)};
    position: relative;
    top: -$space-4xs;

    @include mq(l) {
      --Figure-width: #{rem(28px)}; // Todo: Add/convert new size variables
    }
  }

  .Template-profileMobile {
    --Figure-width: #{rem($space * 8)};

    .Figure-img {
      height: rem($space * 8);
      object-position: 0 20%;
    }
  }

  .Template-profile {
    width: 66%;
  }

  .Template-recommendations {
    background: var(--bg-200);
  }

  .Template-recommendations-aside {
    padding-top: rem($space-xl);

    @include mq(m) {
      padding-top: rem($space-2xl);
    }
  }

  .Template-recommendations-content {
    padding-bottom: rem($space-2xl);

    @include mq(m) {
      border-color: var(--border-950);
      padding-top: rem($space-2xl);
    }
  }
}
