@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--resume {
  .Template-aside {
    padding-bottom: rem($space-2xl);
    padding-top: calc(var(--Header-height) + #{rem($space-2xl)});

    @include mq(l) {
      border-right: var(--border-width) solid var(--border-900);
      order: -1;
      padding-right: rem($space-m);
    }
  }

  .Template-content {
    padding-top: calc(var(--Header-height) + #{rem($space-2xl)});

    @include mq(l) {
      padding-bottom: rem($space-2xl);
    }
  }

  .Template-profile {
    width: 50%;
  }
}
