@mixin fontSize(
  $minFontSize: $font-size,
  $lineHeight: $lineHeight,
  $maxFontSize: $minFontSize,
  $scaleValue: 1vw,
  $scaleFontSize: $minFontSize,
  $scaling: 'scale',
  $root: false,
) {
  @if not $root {
    @if $scaling == 'scale' {
      font-size: clamp(rem($minFontSize), calc(#{rem($scaleFontSize)} + #{$scaleValue}), rem($maxFontSize));
    }

    @if $scaling == 'rem' {
      font-size: rem($minFontSize);
    }

    @if $scaling == 'px' {
      font-size: px($minFontSize);
    }
  }

  @if $root {
    @if $scaling == 'scale' {
      font-size: clamp(rem($minFontSize), $scaleValue, rem($maxFontSize));
    }

    @if $scaling == 'rem' {
      font-size: rem($minFontSize);
    }
  }

  @if $lineHeight {
    @if unit($minFontSize) == 'rem' {
      line-height: $lineHeight / px($minFontSize);
    } @else {
      line-height: $lineHeight / $minFontSize;
    }
  }
}

