// =======================================
// Font sizing
// =======================================

@mixin fontSize(
  $minFontSize: $font-size,
  $lineHeight: false,
  $maxFontSize: $minFontSize,
  $scaleValue: 1vw,
  $fixed: false,
  $root: false,
) {
  @if not $root {
    @if not $fixed {
      font-size: clamp(rem($minFontSize), calc(#{rem($minFontSize)} + #{$scaleValue}), rem($maxFontSize));
    } @else {
      font-size: $minFontSize;
    }
  }

  @if $root {
    font-size: clamp($minFontSize, $scaleValue, $maxFontSize);
  }

  @if $lineHeight {
    @if unit($minFontSize) == 'rem' {
      line-height: $lineHeight / px($minFontSize);
    } @else {
      line-height: $lineHeight / $minFontSize;
    }
  }
}

