// =======================================
// Font sizing with vertical rhythm
// =======================================

@mixin fontSize($size, $line: 'rhythm', $px: false){
  @if $px {
    font-size: $size;
  } @else {
    font-size: ($size / $font-size) * 1rem;
  }

  @if $line == 'rhythm' {
    line-height: ceil($size / $lineHeight) * ($lineHeight / $size);
  } @else {
    line-height: $line / $font-size;
  }
}
