@mixin fontSizeFluid($minFontSize: $font-size, $maxFontSize: $font-size-l, $lineHeight: $lineHeight, $maxLineHeight: $lineHeight-l, $lineHeightMin: null, $maxMq: 'xxxxxl', $minMq: 0px, $enableMaxFontSize: true) {
  $minMqValue: null;
  $maxMqValue: null;

  @if map-get($mq-breakpoints, $minMq) {
    $minMqValue: mq-get-breakpoint-width($minMq);
  } @else {
    $minMqValue: $minMq;
    @include mq-add-breakpoint($minMq, $minMq);
  }

  @if map-get($mq-breakpoints, $maxMq) {
    $maxMqValue: mq-get-breakpoint-width($maxMq);
  } @else {
    $maxMqValue: $maxMq;
    @include mq-add-breakpoint($maxMq, $maxMq);
  }

  & {
    font-size: $minFontSize;

    @include mq($minMq) {
      font-size: calc(#{$minFontSize} + #{strip-unit($maxFontSize - $minFontSize)} * ((100vw - #{$minMqValue}) / #{strip-unit($maxMqValue - $minMqValue)}));

      @if ($lineHeight) {
        line-height: calc(#{$lineHeight} + #{strip-unit($maxLineHeight - $lineHeight)} * ((100vw - #{$minMqValue}) / #{strip-unit($maxMqValue - $minMqValue)}));
      }
    }

    @include mq($maxMq) {
      @if $enableMaxFontSize {
        font-size: $maxFontSize;

        @if ($maxLineHeight) {
          line-height: $maxLineHeight;
        }
      }
    }
  }
}
