@use "stylesheets/config" as *;
@use "fontSize" as *;
@use "utility" as *;

@mixin heading($size: h1, $base: true, $margin: true, $color: true) {
  @if $color and $size != h6 {
    color: var(--heading);
  }

  @if $base {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    text-wrap: balance;
  }

  @if $margin {
    margin: 0 0 rem($space-m);
  }

  @if $size == 'h1' {
    @include fontSize($h1-font-size-min, $h1-line-height, $h1-font-size-max);
  } @else if $size == 'h2' {
    @include fontSize($h2-font-size-min, $h2-line-height, $h2-font-size-max);
  } @else if $size == 'h3' {
    @include fontSize($h3-font-size-min, $h3-line-height, $h3-font-size-max);
  } @else if $size == 'h4' {
    @include fontSize($h4-font-size-min, $h4-line-height, $h4-font-size-max);
  } @else if $size == 'h5' {
    @include fontSize($h5-font-size-min, $h5-line-height, $h5-font-size-max);
  } @else if $size == 'h6' {
    @include fontSize($h6-font-size-min, $h6-line-height, $h6-font-size-max);
  }
}
