@mixin heading($size: null, $base: true, $margin: true, $color: true) {
  @if $color {
    color: $heading;
  }

  @if $base {
    font-family: $heading-fontFamily;
    font-weight: $heading-fontWeight;
  }

  @if $margin and $size != 'h6' {
    margin: 0 0 rem($space * 1.5);
  }

  @if $size == 'h1' {
    @include fontSizeFluid($h4-fontSize, $h1-fontSize, $h4-lineHeight, $h1-lineHeight, $minMq: 'xxs');
    letter-spacing: -0.05em;
  } @else if $size == 'h2' {
    @include fontSizeFluid($h6-fontSize, $h2-fontSize, $h6-lineHeight, $h2-lineHeight);
    letter-spacing: -0.02em;
  } @else if $size == 'h3' {
    @include fontSizeFluid($h6-fontSize, $h3-fontSize, $h6-lineHeight, $h3-lineHeight);
  } @else if $size == 'h4' {
    @include fontSizeFluid($h6-fontSize, $h4-fontSize, $h6-lineHeight, $h4-lineHeight);
  } @else if $size == 'h5' {
    @include fontSizeFluid($h6-fontSize, $h5-fontSize, $h6-lineHeight, $h5-lineHeight);
  } @else if $size == 'h6' {
    @include fontSizeFluid($font-size, $h6-fontSize);
    @if $margin { margin: 0 0 rem($space * 1.5) 0; }
  }
}