// =======================================
// Position mixins
// =======================================

// ======
// Fill the space absolutely
// ======
//
// Pins to all corners by default. But when a width and/or height are
// provided, the element will be centered in its nearest relatively-positioned
// ancestor.

@mixin positionAbsoluteFill($important: null, $offset: 0) {
  bottom: $offset $important;
  left: $offset $important;
  position: absolute $important;
  right: $offset $important;
  top: $offset $important;

  @if $important { $important: !important; }
}
