// =======================================
// Position mixins
// =======================================

// ======
// Fill the space absolutely
// ======
//
// Pins to all corners by default. But when a width and/or height are
// provided, the element will be centered in its nearest relatively-positioned
// ancestor.

@mixin positionAbsoluteFill($important: null) {
  @if $important { $important: !important; }

  bottom: 0 $important;
  left: 0 $important;
  position: absolute $important;
  right: 0 $important;
  top: 0 $important;
}
