// =======================================
// CSS menu shape (a.k.a "hamburger")
// =======================================

@mixin shapeMenu(
  $color: $colorText,
  $height: 2px,
  $width: 22px,
  $spacing: 4px
  ) {
  border-top: $height solid $color;
  display: inline-block;
  height: ($height * 3) + ($spacing * 2);
  position: relative;
  top: $height + $spacing;
  user-select: none;
  min-width: $width;

  &:before,
  &:after {
    background-color: $color;
    content: '';
    display: block;
    height: $height;
    position: absolute;
    width: $width;
  }

  &:before { top: -(($height * 2) + $spacing); }
  &:after  { top: ($spacing); }
}
