// =======================================
// CSS triangle shape
// =======================================

@mixin shapeTriangle($width: 20px, $height: 20px, $direction: up, $color: $text) {
  @if $direction == right {
    border-bottom: $height solid transparent;
    border-left: $width solid $color;
    border-top: $height solid transparent;
  }

  @if $direction == left {
    border-bottom: $height solid transparent;
    border-right: $width solid $color;
    border-top: $height solid transparent;
  }

  @if $direction == up {
    border-bottom: $height solid $color;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
  }

  @if $direction == down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $height solid $color;
  }
}
