// ======
// Text sizes & styles
// ======

@mixin text($size: null, $style: null) {
  @if $size == 'xl' {
    @include fontSize($font-size, $lineHeight-xl, $font-size-xl);
  } @else if $size == 'l' {
    @include fontSize($font-size, $lineHeight-l, $font-size-l);
  } @else if $size == 'm' {
    @include fontSize($font-size, $lineHeight);
  } @else if $size == 's' {
    @include fontSize($font-size-s, $lineHeight-s);
  } @else if $size == 'xs' {
    @include fontSize($font-size-xs, $lineHeight-xs);
  }
}

// ======
// Truncate text
// ======

@mixin textTruncate($truncation-boundary: 100%, $important: null) {
  $important: if($important, '!important', null);
  max-width: $truncation-boundary $important;
  overflow: hidden $important;
  text-overflow: ellipsis $important;
  white-space: nowrap $important;
}
