@use 'sass:math';
@use 'stylesheets/config' as *;
@use 'utils' as *;

@mixin fontSize(
  $minFontSize: $font-size,
  $lineHeight: $line-height,
  $maxFontSize: null,
  $scaleValue: 1vw,
  $scaleFontSize: $minFontSize,
  $scaling: 'scale',
  $root: false
) {
  @if not $root {
    @if $scaling == 'scale' and $maxFontSize {
      font-size: clamp(
        rem($minFontSize),
        calc(#{rem($scaleFontSize)} + #{$scaleValue}),
        rem($maxFontSize)
      );
    } @else {
      font-size: rem($minFontSize);
    }

    @if $scaling == 'px' {
      font-size: px($minFontSize);
    }
  }

  @if $root {
    @if $scaling == 'scale' and $maxFontSize {
      font-size: clamp(rem($minFontSize), $scaleValue, rem($maxFontSize));
    } @else {
      font-size: rem($minFontSize);
    }
  }

  @if $lineHeight {
    @if unit($minFontSize) == 'rem' {
      line-height: math.div($lineHeight, px($minFontSize));
    } @else {
      line-height: math.div($lineHeight, $minFontSize);
    }
  }
}
