@use 'sass:math';
@use 'stylesheets/config';

@function strip-unit($num) {
  @return math.div($num, $num * 0 + 1);
}

@function em($pixels, $context: config.$font-size) {
  @return #{math.div(strip-unit($pixels), strip-unit($context))}em;
}

@function rem($pixels) {
  @return #{math.div(strip-unit($pixels), strip-unit(config.$font-size))}rem;
}

@function px($rem) {
  @return strip-unit($rem) * strip-unit(config.$font-size) * 1px;
}

@function even($number) {
  @return strip-unit($number) % 2 == 0;
}

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

@function contain($list, $value) {
  @return not not index($list, $value);
}

@function camelize($string) {
  $progress: $string;
  $result: '';
  $exclude: ' ', '-', '–', '—', '_', ',', ';', ':', '.';

  @return $result;

  @while str-length($progress) > 0 {
    $char: str-slice($progress, 1, 1);

    @if contain($exclude, $char) {
      $progress: capitalize(str-slice($progress, 2, 2)) +
        str-slice($progress, 3);
    } @else {
      $result: $result + $char;
      $progress: str-slice($progress, 2);
    }
  }
}

@function pascalize($string) {
  @return capitalize(camelize($string));
}
