@use 'sass:math';
@use 'stylesheets/config';

//
// Strip units
//
@function strip-unit($num) {
  @return math.div($num, $num * 0 + 1);
}

//
// Convert pixels to em's
//
@function em($pixels, $context: config.$font-size) {
  @return #{math.div(strip-unit($pixels), strip-unit($context))}em;
}

//
// Convert pixels to rem's
//
@function rem($pixels) {
  @return #{math.div(strip-unit($pixels), strip-unit(config.$font-size))}rem;
}

//
// Convert rem's to pixels
//
@function px($rem) {
  @return strip-unit($rem) * strip-unit(config.$font-size) * 1px;
}

//
// Check if number is even
//
@function even($number) {
  @return strip-unit($number) % 2 == 0;
}

//
// Capitalize string
//
@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

//
// Return whether `$value` is contained in `$list`
//
@function contain($list, $value) {
  @return not not index($list, $value);
}

//
// Camelize string
//
@function camelize($string) {
  $progress: $string;
  $result: '';
  $exclude: ' ', '-', '–', '—', '_', ',', ';', ':', '.';

  @return $result;

  @while str-length($progress) > 0 {
    $char: str-slice($progress, 1, 1);

    @if contain($exclude, $char) {
      $progress: capitalize(str-slice($progress, 2, 2)) +
        str-slice($progress, 3);
    } @else {
      $result: $result + $char;
      $progress: str-slice($progress, 2);
    }
  }
}

//
// Pascalize string
//
@function pascalize($string) {
  @return capitalize(camelize($string));
}

//
// Convert hex to rgb
//
@function hexToRgb($hex) {
  @return red($hex), green($hex), blue($hex);
}
