.Heading {}

.Heading--display {
  @include fontSize(20px, 20px, 999px, 20vw);
  align-items: center;
  // color: $text-10;
  display: flex;
  font-weight: $heading-fontWeightLight;
  height: 25%;
  letter-spacing: -0.035em;
  // letter-spacing: 1em;
  // mix-blend-mode: difference;
  user-select: none;
  white-space: nowrap;

  @include mq($until: xxs) {
    @include fontSize(92px, 92px);
  }
}
