@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Template--home {
  --Template-bg-color: var(--tone-50);

  .Template-about {
    position: relative;
    z-index: calc(var(--z-index-900) - 1);
  }

  .Template-about-mobile {
    display: grid;
    height: clamp(var(--Hero-minHeight), var(--Hero-height), var(--Hero-maxHeight));
    margin-left: rem(-4px);
    padding-bottom: 25vw;
    place-content: center;
    pointer-events: none;
    position: absolute;
    width: auto;

    > .Link {
      pointer-events: all;
    }

    @include mq(s) {  display: none; }
  }

  .Template-about-desktop {
    display: none;

    > h1 {
      @include text(m);
      pointer-events: all;
    }

    @include mq(s) {
      display: block;
      height: clamp(var(--Hero-minHeight), var(--Hero-height), var(--Hero-maxHeight));
      max-width: 20ch;
      padding-top: 25vw;
      pointer-events: none;
      position: absolute;
      z-index: 98;
    }

    @include mq(m) {
      max-width: 28ch;
    }

    @include mq(ml) {
      max-width: 35ch;

      > h1 { @include text(l); }
    }

    @include mq(l) { padding-top: rem($space * 15); }
  }

  .Template-heros {
    position: relative;
    z-index: 1;
  }

  .Footer {
    position: relative;
    z-index: 0;
  }

  .Footer-inner {
    border-top: 0;
  }

  &.is-extraSpace {
    padding-bottom: 100vh;
  }
}
