@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--home {
  --Template-bg: var(--tone-50);

  .Template-about {
    position: relative;
    z-index: calc(var(--z-index-900) - 1);
  }

  .Template-about-mobile {
    display: grid;
    height: clamp(
      var(--Hero-min-height),
      var(--Hero-height),
      var(--Hero-max-height)
    );
    margin-left: rem(-4px);
    padding-bottom: 25vw;
    place-content: center;
    pointer-events: none;
    position: absolute;
    width: auto;

    > .Link {
      pointer-events: all;
    }

    @include mq(s) {
      display: none;
    }
  }

  .Template-about-desktop {
    display: none;

    > .Heading {
      @include text(m);
      pointer-events: all;
    }

    @include mq(s) {
      display: block;
      height: clamp(
        var(--Hero-min-height),
        var(--Hero-height),
        var(--Hero-max-height)
      );
      max-width: 20ch;
      padding-top: 25vw;
      pointer-events: none;
      position: absolute;
      z-index: 98;
    }

    @include mq(m) {
      max-width: 28ch;
    }

    @include mq(ml) {
      max-width: 35ch;

      > .Heading {
        @include text(l);
      }
    }

    @include mq(l) {
      padding-top: rem($space * 15);
    }
  }

  &.is-extraSpace {
    padding-bottom: 100vh;
  }
}
