@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--home {
  --Footer-bg: var(--tone-50);

  .Template-about {
    background: linear-gradient(to bottom, var(--bg-50), var(--tone-50));
    border-bottom: var(--border-width) solid var(--border-950);
    padding-bottom: rem($space-3xl - $space-xs);
    padding-top: calc(var(--Header-height) + #{rem($space-xl)});

    @include mq(m) {
      min-height: min(rem($space * 52), calc(100svh + var(--border-width)));
      padding-top: calc(var(--Header-height) + #{rem($space-5xl)});
    }

    @include mq(l) {
      padding-bottom: rem($space-3xl);
    }
  }

  .Template-avatar {
    --size: #{rem($space-4xl)};
    height: var(--size);
    width: var(--size);

    @include mq(xl) {
      --size: #{rem($space-5xl)};
    }
  }

  .Template-now {
    --text-max-width: 40ch;

    @include mq($until: m) {
      align-items: flex-start;
      display: flex;
      gap: rem($space);
    }
  }

  &.is-extraSpace {
    padding-bottom: 100lvh;
  }
}
