@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--home {
  --Footer-bg: var(--tone-50);

  .Template-about {
    background: linear-gradient(to bottom, var(--bg-50) 60%, var(--tone-50));
    border-bottom: var(--border-width) solid var(--border-950);
    padding-bottom: rem($space-2xl);
    padding-top: calc(var(--Header-height) + #{rem($space-xl)});

    @include mq($until: m) {
      align-items: center;
      text-align: center;
    }

    @include mq(m) {
      min-height: min(rem($space * 52), calc(100svh + var(--border-width)));
      padding-top: calc(var(--Header-height) + #{rem($space-5xl)});
    }

    @include mq(l) {
      padding-bottom: rem($space-3xl);
    }
  }

  .Template-avatar {
    --Figure-border-radius: var(--border-radius-full);
    --size: #{rem($space-5xl)};
    height: var(--size);
    width: var(--size);

    @include mq(m) {
      --Figure-border-radius: var(--border-radius-l);
      --size: #{rem($space-4xl)};
      margin-bottom: clamp(rem($space-m), 3svh, rem($space-l));
    }

    @include mq(xl) {
      --size: #{rem($space-5xl)};
    }
  }

  .Template-heading {
    @include mq(m) {
      margin-bottom: clamp(rem($space-m), 3svh, rem($space-l));
    }
  }

  &.is-extraSpace {
    padding-bottom: 100vh;
  }
}
