# Editor
.vscode

# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Build
/build

# Debug
npm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.vercel
