.Info {
  position: relative;
}

.Info-ruler {
  margin-bottom: rem($space-l);
  transform-origin: top left;

  @include mq(l) {
    margin-bottom: rem($space-xxxl);
  }
}

.Info-metaCol {
  @include text(s);
}

.Info-roleCol {
  display: flex;
  flex-direction: column;

  p {
    margin-top: auto;
    max-width: 20ch;

    @include mq(l) {
      margin-top: rem($space-m);
    }
  }
}

.Info-heading {
  margin-top: rem($space-m);

  @include mq(s) {
    margin-bottom: rem($space-l);
  }

  @include mq(m) {
    margin-top: 0;
  }
}

.Info-text {
  margin-bottom: rem($space-xl);

  @include mq(l) {
    margin-bottom: 0;
  }
}
