.Template--about {
  --Template-bg-color: var(--cream-50);
  --Template-main-bg-color: var(--cream-50);

  .Template-main {
    padding-top: 62.5vw;

    @include mq(m) {
      padding-top: 40vw;
    }
  }

  .Template-figureCol {
    @include mq($until: s) {
      order: 1;
    }
  }

  .Template-heading {
    --heading: var(--white);
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
  }


  .Template-figure {
    inset: 0;
    position: absolute;
    z-index: 0;
  }

  .Template-figure-cube {
    inset: 75vw 0 0 -10vw;
    pointer-events: none;
    position: absolute;
    width: 40vw;

    @include mq(m) {
      inset: 9vw 0 0 30vw;
      opacity: 0.6;
      width: 30vw;
    }
  }
}
