.Template--about {
  --Template-bg-color: var(--cream-50);
  --Template-main-bg-color: var(--cream-50);

  .Template-main {
    padding-top: 62.5vw;

    @include mq(m) {
      padding-top: 40vw;
    }
  }

  .Template-cube, .Template-cube-2, .Template-ball {
    pointer-events: none;
    position: absolute;
  }

  .Template-heading {
    --heading: var(--white);
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
  }

  .Template-profileCol {
    @include mq($until: s) {
      order: 1;
    }
  }

  .Template-profile {
    @include mq(xl) {
      max-width: rem($space * 18);
    }
  }

  .Template-figure {
    inset: 0;
    position: absolute;
    z-index: 0;
  }

  .Template-cube {
    inset: 75vw 0 0 -10vw;
    width: 40vw;

    @include mq(s) {
      inset: 9vw 0 0 30vw;
      // opacity: 0.6;
      width: 30vw;
    }
  }

  .Template-about {
    position: relative;
    z-index: 1;
  }

  .Template-cube-2 {
    inset: 35vw -20vw 0 auto;
    width: 35vw;

    @include mq(s) {
      inset: 0 -15vw 0 auto;
      width: 30vw;
    }
  }

  .Template-clients {
    position: relative;
  }

  .Template-ball {
    inset: 70vw -15vw 0 auto;
    width: 40vw;

    @include mq(m) {
      inset: 10vw auto auto -10vw;
      width: 30vw;
    }
  }
}
