@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--about {
  --Footer-bg-color: var(--bg-50);
  --Template-bg-color: var(--tone-50);
  --Figure-placeholder-bg: var(--tone-100);
  --Figure-glare-opacity: 0.5;

  .Template-main {
    padding-top: 80vw;

    @include mq(m) {
      padding-top: 40vw;
    }
  }

  .Template-cube,
  .Template-cube-2,
  .Template-ball {
    pointer-events: none;
    position: absolute;
  }

  .Template-heading {
    --heading: var(--text-50);
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
  }

  .Template-profileCol {
    @include mq($until: s) {
      order: 1;
    }
  }

  .Template-profile {
    @include mq(xl) {
      max-width: rem($space * 20);
    }
  }

  .Template-figure {
    inset: 0 0 auto 0;
    position: absolute;
  }

  .Template-cube {
    inset: 20vw 0 0 -12vw;
    width: 45vw;

    @include mq(m) {
      inset: 9vw 0 0 30vw;
      width: 30vw;
    }
  }

  .Template-intro {
    position: relative;
  }

  .Template-cube-2 {
    inset: 35vw -20vw 0 auto;
    width: 35vw;

    @include mq(s) {
      inset: 0 -15vw 0 auto;
      width: 30vw;
    }
  }

  .Template-clients {
    background: linear-gradient(var(--tone-50), var(--bg-50));
    position: relative;
  }

  .Template-ball {
    inset: 90vw -20vw 0 auto;
    width: 35vw;

    @include mq(s) {
      inset: 10vw auto auto -5vw;
      width: 22.5vw;
    }
  }

  .Template-milestones {
    background: var(--bg-50);
  }
}
