.Template--biocode {
  --Template-bgColor: var(--biocode-bg-1000);
  --bg-100: var(--biocode-bg-900);
  --border-1000: var(--biocode-border-1000);
  --border-900: var(--biocode-border-900);
  --border-800: var(--biocode-border-800);
  --border-100: var(--biocode-border-1000);
  --heading: var(--biocode-heading);
  --link-hover: var(--biocode-text-1000);
  --link: var(--biocode-text-1000);
  --text-1000: var(--biocode-text-1000);
  --text-900: var(--biocode-text-900);
  --text-muted: var(--biocode-text-muted);

  .Info {
    @include mq($until: ml) {
      margin-top: rem($space * -4);
    }
  }
}
