.Template {
  --Template-overlayColor: var(--black);
  --Template-overlayColor-initial: var(--black-transparent);
  background-color: var(--Template-bgColor, var(--bg-50));
  color: var(--Template-color, var(--text-1000));
  min-height: var(--vh);
  overflow: hidden;
  top: 0;
  width: 100vw;
  z-index: 1;

  /**
   * This is the start animation
   */
  &:last-child:not(:only-child).is-transition\:template {
    position: fixed;
    z-index: 0;

    /**
     * Hack to remove the applied scroll values from the new view.
     * Why are those even there?!
     * This happens sometimes at least w/ Chromium, so keep this.
     */
    [data-scroll-section], [data-scroll] {
      transform: none !important;
    }
  }

  :root.is-transition\:template\:after & {
    [data-scroll-target] {
      transition: 0.3s;
    }
  }

  &.is-transition\:template {
    position: relative;
  }

  &.is-transition\:template\:exit {
    z-index: 0;
  }
}

.Template-overlay {
  inset: 0;
  position: absolute;
  z-index: 1;
}

.Template-img-1.Figure {
  @include mq(l) {
    margin-top: rem($space * -6);
  }
}

.Template-img-2.Figure {
  margin-bottom: rem($space);

  @include mq(m) {
    margin-bottom: 0;
    margin-top: rem($space * 12);
  }
}

.Template-section {
  padding-top: 10vw;

  &.-bg\:50 {
    background: var(--bg-gray-50-opaque);
  }

  &.-bg\:100 {
    background: var(--bg-gray-100-opaque);
  }

  &.-bg\:gradient-0-50 {
    background: linear-gradient(transparent, var(--bg-gray-50-opaque) 8%);
  }

  &.-bg\:gradient-0-50-0 {
    background: linear-gradient(transparent, var(--bg-gray-50-opaque) 8%, var(--bg-gray-50-opaque) 92%, transparent);
  }

  &.-padding\:bottom {
    padding-bottom: 10vw;
  }
}
