.Template {
  --Template-overlay-color: var(--black);
  --Template-overlay-color-initial: var(--black-transparent);
  background-color: var(--Template-bg-color, var(--bg-50));
  color: var(--Template-color, var(--text-1000));
  min-height: var(--vh);
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;

  /**
   * This is the start animation
   */
  &:last-child:not(:only-child).is-transition\:template {
    position: fixed;
    z-index: 0;

    /**
     * Hack to remove the applied scroll values from the new view.
     * Why are those even there?!
     * This happens sometimes at least w/ Chromium, so keep this.
     */
    [data-scroll-section], [data-scroll] {
      transform: none !important;
    }
  }

   /**
   * After locomotive scroll is updated the animated elements will jump to their
   * initial positions which is sometimes visible. This slight transition
   * smoothens this issue like it's intentional.
   */
  :root.is-transition\:template\:withDelay & {
    [data-scroll-target] {
      transition: 0.3s;
    }
  }

  &.is-transition\:template {
    position: relative;
  }

  &.is-transition\:template\:exit {
    z-index: 0;
  }
}

.Template-overlay {
  inset: 0;
  position: absolute;
  z-index: 1;
}

.Template-main {
  background-color: var(--Template-main-bg-color, inherit);
  color: var(--Template-main-color, inherit);
}

.Template-section {
  background-color: var(--Template-section-bg-color);

  &.-bg\:50 {
    background: var(--bg-gray-50-opaque);
  }

  &.-bg\:100 {
    background: var(--bg-gray-100-opaque);
  }

  &.-bg\:gradient-0-50 {
    background: linear-gradient(transparent, var(--bg-gray-50-opaque) 8%);
  }

  &.-bg\:gradient-0-50-0 {
    background: linear-gradient(transparent, var(--bg-gray-50-opaque) 8%, var(--bg-gray-50-opaque) 92%, transparent);
  }
}
