@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template {
  --Template-overlay: var(--black);
  --Template-overlay-initial: var(--black-transparent);
  background-color: var(--Template-bg, var(--bg-50));
  min-height: var(--vh);
  overflow: hidden;
  width: 100%;

  /**
   * Enter transition
   */
  &:last-child:not(:only-child).is-transition\:template {
    position: fixed;
    top: 0;
    z-index: 1;

    /**
     * Hack to remove the applied scroll values from the new view. Why are those
     * even there?! This happens sometimes at least w/ Chromium.
     */
    [data-s-section],
    [data-s] {
      transform: none !important;
    }
  }

  &.is-transition\:template\:exit {
    position: relative;
    top: 0;
    z-index: 0;
  }

  /**
   * After locomotive scroll is updated the animated elements will jump to their
   * initial positions which is sometimes visible. This slight transition
   * smoothens this issue like it's intentional.
   */
  :root.is-transition\:template\:withDelay & {
    [data-s-target]:not([data-s-prevent]) {
      transition: 0.2s ease-in-out;
    }
  }
}

.Template-overlay {
  inset: 0;
  position: absolute;
  z-index: 1;
}

.Template-main {
  background-color: var(--Template-bg, var(--bg-50));
  color: var(--Template-color, var(--text-950));
}

.Template-section {
  background-color: var(--Template-section-bg);
}

/* =======================================
 * Variants
 * ======================================= */

.Template--default {
  .Template-inner {
    display: flex;
    flex-direction: column;
    min-height: inherit;
  }

  .Template-main {
    flex: 1;
    padding-top: var(--Header-height);
  }
}
