@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template {
  --Template-overlay: var(--black);
  --Template-overlay-initial: var(--black-transparent);
  background-color: var(--Template-bg, var(--bg-50));
  min-height: 100svh;
  overflow: hidden;
  width: 100vw;

  &:last-child:not(:only-child).is-transition\:template\:enter {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  &.is-transition\:template\:exit {
    position: relative;
    top: 0;
    z-index: 0;
  }
}

.Template-overlay {
  inset: 0;
  isolation: isolate;
  position: absolute;
}

.Template-inner {
  isolation: isolate;
}

.Template-main {
  background-color: var(--Template-bg, var(--bg-50));
  color: var(--Template-color, var(--text-950));
}

.Template-section {
  background-color: var(--Template-section-bg);
}

/* =======================================
 * Variants
 * ======================================= */

.Template--default {
  .Template-inner {
    display: flex;
    flex-direction: column;
    min-height: inherit;
  }

  .Template-main {
    flex: 1;
    padding-top: var(--Header-height);
  }
}
