.NextProject {}

.NextProject-link {
  @include fontSize(16px, 16px, 112px, 10vw);
  display: block;
  padding-left: var(--wrap-spaceLeft);
  z-index: 1;

  .LinkRoll-text.-hover {
    left: var(--wrap-spaceLeft);
  }
}

.NextProject-inner {
  padding: rem($space-xxl) 0 0 0;
  position: relative;
}

.NextProject-figure {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: min(#{rem($space * 20)}, 45%);
  will-change: transform;

  @include mq($from: m, $until: l) {
    width: rem($space * 16);
  }

  @include mq(xxxxxl) {
    width: rem($space * 18);
  }
}
