.NextProject {
  background: var(--Template-bgColor);
}

.NextProject-link {
  @include fontSize(16px, 16px, 112px, 10vw);
  color: var(--white);
  display: block;
  mix-blend-mode: difference;
  opacity: 1;
  z-index: 1;
}

.NextProject-inner {
  padding: rem($space-xxl) 0 0 0;
  position: relative;
}

.NextProject-figure {
  inset: 0 auto auto 0;
  pointer-events: none;
  position: absolute;
  width: min(#{rem($space * 20)}, 45%);

  @include mq($from: m, $until: l) {
    width: rem($space * 16);
  }

  @include mq(xxxxxl) {
    width: rem($space * 18);
  }
}
