@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

/**
 * 1. Fix possible background leaking related to scroll transform glitches
 */
.NextProject {
  background-color: var(--NextProject-bg-color, var(--Template-bg-color, var(--bg-50)));
  margin: -1px 0; // [1.]
  padding-top: rem($space-3xl);
}

.NextProject-link {
  @include fontSize(16px, 16px, 112px, 10vw);
  color: var(--white);
  mix-blend-mode: difference;
  opacity: 1;
  z-index: 1;
}

.NextProject-inner {
  padding-bottom: rem($space-2xl);
  padding-top: rem($space-2xl);
  position: relative;
}

.NextProject-figure {
  border-radius: 999px;
  inset: 0 auto auto 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: min(#{rem($space * 20)}, 45%);

  @include mq($from: m, $until: l) {
    width: rem($space * 16);
  }

  @include mq(xxxxxl) {
    width: rem($space * 18);
  }
}
