@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.NextProject {
  background-color: var(--NextProject-bg, var(--Template-bg, var(--bg-50)));
  padding-top: rem($space-3xl);
}

.NextProject-link {
  --link: var(--text-50);
  --link-hover-opacity: 1;
  mix-blend-mode: difference;
  padding-bottom: rem($space-4xs);
  z-index: 1;
}

.NextProject-inner {
  padding-bottom: rem($space-2xl);
  padding-top: rem($space-2xl);
  position: relative;
}

.NextProject-figure {
  border-radius: var(--border-radius-full);
  cursor: pointer;
  inset: 0 auto auto 0;
  overflow: hidden;
  position: absolute;
  width: min(#{rem($space * 20)}, 45%);

  @include mq($from: m, $until: l) {
    width: rem($space * 16);
  }

  @include mq('5xl') {
    width: rem($space * 18);
  }
}
