/* =======================================
 * Coloring helpers
 * ======================================= */

.colorPrimary    { color: $primary !important; }
.colorTextLight  { color: $textLight !important; }
.colorDark       { color: $black !important; }
.colorBgLight    { background-color: $bgLight !important; }

