.resetButton {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

.resetList {
  list-style: none;
  margin: 0 0 rem($space) 0;
  padding: 0;
}

/* ======
 * Paddings
 * ====== */

.paddingBottom-0 { padding-bottom: 0 !important; }


/* ======
 * Margins
 * ====== */

// /**
//  * All margins
//  */
// .noMargin   { margin: 0 !important; }

// /**
//  * Margin top
//  */
// .marginTop     { margin-top: rem($space) !important; }
// .marginTop--xs { margin-top: rem($space / 4) !important; }
// .marginTop--s  { margin-top: rem($space / 2) !important; }
// .marginTop--m  { margin-top: rem($space * 2) !important; }
// .marginTop--l  { margin-top: rem($space * 4) !important; }
// .noMarginTop   { margin-top: 0 !important; }

// /**
//  * Margin right
//  */
// .marginRight     { margin-right: rem($space) !important; }
// .marginRight--xs { margin-right: rem($space / 4) !important; }
// .marginRight--s  { margin-right: rem($space / 2) !important; }
// .marginRight--m  { margin-right: rem($space * 2) !important; }
// .marginRight--l  { margin-right: rem($space * 4) !important; }
// .noMarginRight   { margin-right: 0 !important; }

// /**
//  * Margin bottom
//  */
// .marginBottom     { margin-bottom: rem($space) !important; }
// .marginBottom--xs { margin-bottom: rem($space / 4) !important; }
// .marginBottom--s  { margin-bottom: rem($space / 2) !important; }
// .marginBottom--m  { margin-bottom: rem($space * 2) !important; }
// .marginBottom--l  { margin-bottom: rem($space * 4) !important; }
// .noMarginBottom   { margin-bottom: 0 !important; }

// /**
//  * Margin left
//  */
// .marginLeft     { margin-left: rem($space) !important; }
// .marginLeft--xs { margin-left: rem($space / 4) !important; }
// .marginLeft--s  { margin-left: rem($space / 2) !important; }
// .marginLeft--m  { margin-left: rem($space * 2) !important; }
// .marginLeft--l  { margin-left: rem($space * 4) !important; }
// .noMarginLeft   { margin-left: 0 !important; }
