.reset { all: unset; }
.resetButton {
  all: unset;
  cursor: pointer;
}

.white-space\:nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
}

.justify-content\:end {
  justify-content: end;
}
