/* =======================================
 * Responsive margin helpers - large vw
 * ======================================= */

@include mq(l) {

  /**
   * All margins
   */
  .margin\@l     { margin: rem($space) !important; }
  .margin--xs\@l { margin: rem($space / 4) !important; }
  .margin--s\@l  { margin: rem($space / 2) !important; }
  .margin--m\@l  { margin: rem($space * 2) !important; }
  .margin--l\@l  { margin: rem($space * 4) !important; }
  .noMargin\@l   { margin: 0 !important; }

  /**
   * Margin top
   */
  .marginTop\@l     { margin-top: rem($space) !important; }
  .marginTop--xs\@l { margin-top: rem($space / 4) !important; }
  .marginTop--s\@l  { margin-top: rem($space / 2) !important; }
  .marginTop--m\@l  { margin-top: rem($space * 2) !important; }
  .marginTop--l\@l  { margin-top: rem($space * 4) !important; }
  .noMarginTop\@l   { margin-top: 0 !important; }

  /**
   * Margin right
   */
  .marginRight\@l     { margin-right: rem($space) !important; }
  .marginRight--xs\@l { margin-right: rem($space / 4) !important; }
  .marginRight--s\@l  { margin-right: rem($space / 2) !important; }
  .marginRight--m\@l  { margin-right: rem($space * 2) !important; }
  .marginRight--l\@l  { margin-right: rem($space * 4) !important; }
  .noMarginRight\@l   { margin-right: 0 !important; }

  /**
   * Margin bottom
   */
  .marginBottom\@l     { margin-bottom: rem($space) !important; }
  .marginBottom--xs\@l { margin-bottom: rem($space / 4) !important; }
  .marginBottom--s\@l  { margin-bottom: rem($space / 2) !important; }
  .marginBottom--m\@l  { margin-bottom: rem($space * 2) !important; }
  .marginBottom--l\@l  { margin-bottom: rem($space * 4) !important; }
  .noMarginBottom\@l  { margin-bottom: 0 !important; }

  /**
   * Margin left
   */
  .marginLeft\@l     { margin-left: rem($space) !important; }
  .marginLeft--xs\@l { margin-left: rem($space / 4) !important; }
  .marginLeft--s\@l  { margin-left: rem($space / 2) !important; }
  .marginLeft--m\@l  { margin-left: rem($space * 2) !important; }
  .marginLeft--l\@l  { margin-left: rem($space * 4) !important; }
  .noMarginLeft\@l   { margin-left: 0 !important; }
}
