/* =======================================
 * Responsive margin helpers - small vw
 * ======================================= */

@include mq(s) {

  /**
   * All margins
   */
  .margin\@s     { margin: rem($space) !important; }
  .margin--xs\@s { margin: rem($space / 4) !important; }
  .margin--s\@s  { margin: rem($space / 2) !important; }
  .margin--m\@s  { margin: rem($space * 2) !important; }
  .margin--l\@s  { margin: rem($space * 4) !important; }
  .noMargin\@s   { margin: 0 !important; }

  /**
   * Margin top
   */
  .marginTop\@s     { margin-top: rem($space) !important; }
  .marginTop--xs\@s { margin-top: rem($space / 4) !important; }
  .marginTop--s\@s  { margin-top: rem($space / 2) !important; }
  .marginTop--m\@s  { margin-top: rem($space * 2) !important; }
  .marginTop--l\@s  { margin-top: rem($space * 4) !important; }
  .noMarginTop\@s   { margin-top: 0 !important; }

  /**
   * Margin right
   */
  .marginRight\@s     { margin-right: rem($space) !important; }
  .marginRight--xs\@s { margin-right: rem($space / 4) !important; }
  .marginRight--s\@s  { margin-right: rem($space / 2) !important; }
  .marginRight--m\@s  { margin-right: rem($space * 2) !important; }
  .marginRight--l\@s  { margin-right: rem($space * 4) !important; }
  .noMarginRight\@s   { margin-right: 0 !important; }

  /**
   * Margin bottom
   */
  .marginBottom\@s     { margin-bottom: rem($space) !important; }
  .marginBottom--xs\@s { margin-bottom: rem($space / 4) !important; }
  .marginBottom--s\@s  { margin-bottom: rem($space / 2) !important; }
  .marginBottom--m\@s  { margin-bottom: rem($space * 2) !important; }
  .marginBottom--l\@s  { margin-bottom: rem($space * 4) !important; }
  .noMarginBottom\@s  { margin-bottom: 0 !important; }

  /**
   * Margin left
   */
  .marginLeft\@s     { margin-left: rem($space) !important; }
  .marginLeft--xs\@s { margin-left: rem($space / 4) !important; }
  .marginLeft--s\@s  { margin-left: rem($space / 2) !important; }
  .marginLeft--m\@s  { margin-left: rem($space * 2) !important; }
  .marginLeft--l\@s  { margin-left: rem($space * 4) !important; }
  .noMarginLeft\@s   { margin-left: 0 !important; }
}
