/* =======================================
 * Responsive margin helpers - medium vw
 * ======================================= */

@include mq(m) {

  /**
   * All margins
   */
  .margin\@m     { margin: rem($space) !important; }
  .margin--xs\@m { margin: rem($space / 4) !important; }
  .margin--s\@m  { margin: rem($space / 2) !important; }
  .margin--m\@m  { margin: rem($space * 2) !important; }
  .margin--l\@m  { margin: rem($space * 4) !important; }
  .noMargin\@m   { margin: 0 !important; }

  /**
   * Margin top
   */
  .marginTop\@m     { margin-top: rem($space) !important; }
  .marginTop--xs\@m { margin-top: rem($space / 4) !important; }
  .marginTop--s\@m  { margin-top: rem($space / 2) !important; }
  .marginTop--m\@m  { margin-top: rem($space * 2) !important; }
  .marginTop--l\@m  { margin-top: rem($space * 4) !important; }
  .noMarginTop\@m   { margin-top: 0 !important; }

  /**
   * Margin right
   */
  .marginRight\@m     { margin-right: rem($space) !important; }
  .marginRight--xs\@m { margin-right: rem($space / 4) !important; }
  .marginRight--s\@m  { margin-right: rem($space / 2) !important; }
  .marginRight--m\@m  { margin-right: rem($space * 2) !important; }
  .marginRight--l\@m  { margin-right: rem($space * 4) !important; }
  .noMarginRight\@m   { margin-right: 0 !important; }

  /**
   * Margin bottom
   */
  .marginBottom\@m     { margin-bottom: rem($space) !important; }
  .marginBottom--xs\@m { margin-bottom: rem($space / 4) !important; }
  .marginBottom--s\@m  { margin-bottom: rem($space / 2) !important; }
  .marginBottom--m\@m  { margin-bottom: rem($space * 2) !important; }
  .marginBottom--l\@m  { margin-bottom: rem($space * 4) !important; }
  .noMarginBottom\@m  { margin-bottom: 0 !important; }

  /**
   * Margin left
   */
  .marginLeft\@m     { margin-left: rem($space) !important; }
  .marginLeft--xs\@m { margin-left: rem($space / 4) !important; }
  .marginLeft--s\@m  { margin-left: rem($space / 2) !important; }
  .marginLeft--m\@m  { margin-left: rem($space * 2) !important; }
  .marginLeft--l\@m  { margin-left: rem($space * 4) !important; }
  .noMarginLeft\@m   { margin-left: 0 !important; }
}
