.pb\:15vw { padding-bottom: 15vw; }
.pb\:10vw { padding-bottom: 10vw; }
.pb\:5vw { padding-bottom: 5vw; }
.pb\:xxl { padding-bottom: rem($space-xxl); }

.pt\:15vw { padding-top: 15vw; }
.pt\:10vw { padding-top: 10vw; }
.pt\:5vw { padding-top: 5vw; }
.pt\:xxl { padding-top: rem($space-xxl); }
