@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.p\:0 { padding: 0 !important; }

.pt\:20vw { padding-top: 20vw !important; }
.pt\:15vw { padding-top: 15vw !important; }
.pt\:10vw { padding-top: 10vw !important; }
.pt\:5vw { padding-top: 5vw !important; }
.pt\:xxl { padding-top: rem($space-xxl) !important; }

.pb\:15vw { padding-bottom: 15vw !important; }
.pb\:10vw { padding-bottom: 10vw !important; }
.pb\:5vw { padding-bottom: 5vw !important; }
.pb\:xxl { padding-bottom: rem($space-xxl) !important; }

.pl\:0 {
  padding-left: 0 !important;

  @include mq($until: l) {
    &\@until\:l {
      padding-left: 0 !important;
    }
  }
}

.pr\:0 { padding-right: 0 !important; }
