/* =======================================
 * Responsive padding helpers - large vw
 * ======================================= */

@include mq(l) {

  /**
   * All paddings
   */
  .padding\@l     { padding: rem($space) !important; }
  .padding--xs\@l { padding: rem($space / 4) !important; }
  .padding--s\@l  { padding: rem($space / 2) !important; }
  .padding--m\@l  { padding: rem($space * 2) !important; }
  .padding--l\@l  { padding: rem($space * 4) !important; }
  .noPadding\@l   { padding: 0 !important; }

  /**
   * Padding top
   */
  .paddingTop\@l     { padding-top: rem($space) !important; }
  .paddingTop--xs\@l { padding-top: rem($space / 4) !important; }
  .paddingTop--s\@l  { padding-top: rem($space / 2) !important; }
  .paddingTop--m\@l  { padding-top: rem($space * 2) !important; }
  .paddingTop--l\@l  { padding-top: rem($space * 4) !important; }
  .noPaddingTop\@l   { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .paddingRight\@l     { padding-right: rem($space) !important; }
  .paddingRight--xs\@l { padding-right: rem($space / 4) !important; }
  .paddingRight--s\@l  { padding-right: rem($space / 2) !important; }
  .paddingRight--m\@l  { padding-right: rem($space * 2) !important; }
  .paddingRight--l\@l  { padding-right: rem($space * 4) !important; }
  .noPaddingRight\@l   { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .paddingBottom\@l     { padding-bottom: rem($space) !important; }
  .paddingBottom--xs\@l { padding-bottom: rem($space / 4) !important; }
  .paddingBottom--s\@l  { padding-bottom: rem($space / 2) !important; }
  .paddingBottom--m\@l  { padding-bottom: rem($space * 2) !important; }
  .paddingBottom--l\@l  { padding-bottom: rem($space * 4) !important; }
  .noPaddingBottom\@l   { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .paddingLeft\@l     { padding-left: rem($space) !important; }
  .paddingLeft--xs\@l { padding-left: rem($space / 4) !important; }
  .paddingLeft--s\@l  { padding-left: rem($space / 2) !important; }
  .paddingLeft--m\@l  { padding-left: rem($space * 2) !important; }
  .paddingLeft--l\@l  { padding-left: rem($space * 4) !important; }
  .noPaddingLeft\@l   { padding-left: 0 !important; }
}
