/* =======================================
 * Responsive padding helpers - medium vw
 * ======================================= */

@include mq(m) {

  /**
   * All paddings
   */
  .padding\@m     { padding: rem($space) !important; }
  .padding--xs\@m { padding: rem($space / 4) !important; }
  .padding--s\@m  { padding: rem($space / 2) !important; }
  .padding--m\@m  { padding: rem($space * 2) !important; }
  .padding--l\@m  { padding: rem($space * 4) !important; }
  .noPadding\@m   { padding: 0 !important; }

  /**
   * Padding top
   */
  .paddingTop\@m     { padding-top: rem($space) !important; }
  .paddingTop--xs\@m { padding-top: rem($space / 4) !important; }
  .paddingTop--s\@m  { padding-top: rem($space / 2) !important; }
  .paddingTop--m\@m  { padding-top: rem($space * 2) !important; }
  .paddingTop--l\@m  { padding-top: rem($space * 4) !important; }
  .noPaddingTop\@m   { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .paddingRight\@m     { padding-right: rem($space) !important; }
  .paddingRight--xs\@m { padding-right: rem($space / 4) !important; }
  .paddingRight--s\@m  { padding-right: rem($space / 2) !important; }
  .paddingRight--m\@m  { padding-right: rem($space * 2) !important; }
  .paddingRight--l\@m  { padding-right: rem($space * 4) !important; }
  .noPaddingRight\@m   { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .paddingBottom\@m     { padding-bottom: rem($space) !important; }
  .paddingBottom--xs\@m { padding-bottom: rem($space / 4) !important; }
  .paddingBottom--s\@m  { padding-bottom: rem($space / 2) !important; }
  .paddingBottom--m\@m  { padding-bottom: rem($space * 2) !important; }
  .paddingBottom--l\@m  { padding-bottom: rem($space * 4) !important; }
  .noPaddingBottom\@m   { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .paddingLeft\@m     { padding-left: rem($space) !important; }
  .paddingLeft--xs\@m { padding-left: rem($space / 4) !important; }
  .paddingLeft--s\@m  { padding-left: rem($space / 2) !important; }
  .paddingLeft--m\@m  { padding-left: rem($space * 2) !important; }
  .paddingLeft--l\@m  { padding-left: rem($space * 4) !important; }
  .noPaddingLeft\@m   { padding-left: 0 !important; }
}
