/* =======================================
 * Responsive padding helpers - small vw
 * ======================================= */

@include mq(s) {

  /**
   * All paddings
   */
  .padding\@s     { padding: rem($space) !important; }
  .padding--xs\@s { padding: rem($space / 4) !important; }
  .padding--s\@s  { padding: rem($space / 2) !important; }
  .padding--m\@s  { padding: rem($space * 2) !important; }
  .padding--l\@s  { padding: rem($space * 4) !important; }
  .noPadding\@s   { padding: 0 !important; }

  /**
   * Padding top
   */
  .paddingTop\@s     { padding-top: rem($space) !important; }
  .paddingTop--xs\@s { padding-top: rem($space / 4) !important; }
  .paddingTop--s\@s  { padding-top: rem($space / 2) !important; }
  .paddingTop--m\@s  { padding-top: rem($space * 2) !important; }
  .paddingTop--l\@s  { padding-top: rem($space * 4) !important; }
  .noPaddingTop\@s   { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .paddingRight\@s     { padding-right: rem($space) !important; }
  .paddingRight--xs\@s { padding-right: rem($space / 4) !important; }
  .paddingRight--s\@s  { padding-right: rem($space / 2) !important; }
  .paddingRight--m\@s  { padding-right: rem($space * 2) !important; }
  .paddingRight--l\@s  { padding-right: rem($space * 4) !important; }
  .noPaddingRight\@s   { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .paddingBottom\@s     { padding-bottom: rem($space) !important; }
  .paddingBottom--xs\@s { padding-bottom: rem($space / 4) !important; }
  .paddingBottom--s\@s  { padding-bottom: rem($space / 2) !important; }
  .paddingBottom--m\@s  { padding-bottom: rem($space * 2) !important; }
  .paddingBottom--l\@s  { padding-bottom: rem($space * 4) !important; }
  .noPaddingBottom\@s   { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .paddingLeft\@s     { padding-left: rem($space) !important; }
  .paddingLeft--xs\@s { padding-left: rem($space / 4) !important; }
  .paddingLeft--s\@s  { padding-left: rem($space / 2) !important; }
  .paddingLeft--m\@s  { padding-left: rem($space * 2) !important; }
  .paddingLeft--l\@s  { padding-left: rem($space * 4) !important; }
  .noPaddingLeft\@s   { padding-left: 0 !important; }
}
