/* =======================================
 * Padding helpers
 * ======================================= */

/**
 * All paddings
 */
.padding     { padding: rem($space) !important; }
.padding--xs { padding: rem($space / 4) !important; }
.padding--s  { padding: rem($space / 2) !important; }
.padding--m  { padding: rem($space * 2) !important; }
.padding--l  { padding: rem($space * 4) !important; }
.noPadding   { padding: 0 !important; }

/**
 * Padding top
 */
.paddingTop     { padding-top: rem($space) !important; }
.paddingTop--xs { padding-top: rem($space / 4) !important; }
.paddingTop--s  { padding-top: rem($space / 2) !important; }
.paddingTop--m  { padding-top: rem($space * 2) !important; }
.paddingTop--l  { padding-top: rem($space * 4) !important; }
.noPaddingTop   { padding-top: 0 !important; }

/**
 * Padding right
 */
.paddingRight     { padding-right: rem($space) !important; }
.paddingRight--xs { padding-right: rem($space / 4) !important; }
.paddingRight--s  { padding-right: rem($space / 2) !important; }
.paddingRight--m  { padding-right: rem($space * 2) !important; }
.paddingRight--l  { padding-right: rem($space * 4) !important; }
.noPaddingRight   { padding-right: 0 !important; }

/**
 * Padding bottom
 */
.paddingBottom     { padding-bottom: rem($space) !important; }
.paddingBottom--xs { padding-bottom: rem($space / 4) !important; }
.paddingBottom--s  { padding-bottom: rem($space / 2) !important; }
.paddingBottom--m  { padding-bottom: rem($space * 2) !important; }
.paddingBottom--l  { padding-bottom: rem($space * 4) !important; }
.noPaddingBottom   { padding-bottom: 0 !important; }

/**
 * Padding left
 */
.paddingLeft     { padding-left: rem($space) !important; }
.paddingLeft--xs { padding-left: rem($space / 4) !important; }
.paddingLeft--s  { padding-left: rem($space / 2) !important; }
.paddingLeft--m  { padding-left: rem($space * 2) !important; }
.paddingLeft--l  { padding-left: rem($space * 4) !important; }
.noPaddingLeft   { padding-left: 0 !important; }
