@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-color: var(--scrollbar-thumb) transparent;
  scrollbar-width: thin;

  &.-color\:negative {
    --scrollbar-thumb: var(--scrollbar-thumb-negative);
  }
}
