/* =======================================
 * Text helpers
 * ======================================= */

/**
 * Horizontal text alignment
 */
.textCenter { text-align: center !important; }
.textLeft   { text-align: left !important; }
.textRight  { text-align: right !important; }

/**
 * Text truncation
 */
.textTruncate {
  @include textTruncate(100%, !important);
}
