/* =======================================
 * Base
 * ======================================= */

:root {
  @include fontSizeFluid($font-size, $font-size-l);
  background-color: var(--bgColor);
  color: $text-700;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $lineHeight / $font-size;
  min-width: 300px;
  scroll-behavior: smooth;

  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  tap-highlight-color: transparent;

  &.has-js {
    overflow: hidden;
  }

  --bgColor: $bg-10;
  --wrap-spaceLeft: #{$wrap-spaceLeft};
  --wrap-spaceRight: #{$wrap-spaceRight};

  @include mq(m) {
    --wrap-spaceLeft: #{$wrap-spaceLeft-m};
    --wrap-spaceRight: #{$wrap-spaceRight-m};
  }
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

hgroup,
blockquote,
address,
table,
fieldset,
figure,
pre,
ul,
ol,
dl {
  margin: 0 0 rem($space);
}

ul,
ol,
dl {
  padding: 0 0 0 rem($space);
}

a {
  color: $link;
  text-decoration: none;

  &:active {
    color: $link;
  }

  &:hover {
    color: $link-hover;
  }
}

::-moz-selection {
  background: $primary;
  color: $white;
}

::selection {
  background: $primary;
  color: $white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img,
embed,
object,
iframe,
video {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
}