/* =======================================
 * Base
 * ======================================= */

:root {
  --root-minWidth: #{$root-minWidth};
  --wrap-spaceLeft: #{$wrap-spaceLeft};
  --wrap-spaceRight: #{$wrap-spaceRight};

  --black: #{$black};
  --white: #{$white};

  --primary: #{$primary};
  --primary-negative: #{$primary-negative};
  --primary-negativeLight: #{$primary-negativeLight};

  --bg-200: #{$bg-200};
  --bg-100: #{$bg-100};
  --bg-50: #{$bg-50};
  --bg-10: #{$bg-10};

  --oras-primary: #{$oras-primary};
  --OrasHero-figureBg: #{$OrasHero-figureBg};
  --OrasHero-figureBgAlpha:#{$OrasHero-figureBgAlpha};
  --OrasHero-figureBgRgb: #{hexToRgb($OrasHero-figureBg)};

  --Template-overlayColor: #{$Template-overlayColor};

  @include fontSize(
    $minFontSize: $font-size,
    $lineHeight: $lineHeight,
    $maxFontSize: 999px,
    $root: true,
    $scaleValue: 1.25vw,
  );

  background-color: $bg-10;
  color: $text-700;
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: var(--root-minWidth);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  touch-action: pan-y;
  -webkit-touch-callout: none;

  &.has-js {
    @include mq(desktop) {
      overflow: hidden;
    }
  }

  &.is-loading,
  &.is-scrollLock {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  @include mq(m) {
    --wrap-spaceLeft: #{rem($wrap-spaceLeft-m)};
    --wrap-spaceRight: #{rem($wrap-spaceRight-m)};
  }

  @include mq(l) {
    --wrap-spaceLeft: #{rem($wrap-spaceLeft-l)};
    --wrap-spaceRight: #{rem($wrap-spaceRight-l)};
  }
}

body {
  margin: 0;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: $focus-outlineWidth solid $primary;
  }
}

blockquote,
address,
table,
fieldset,
figure,
pre,
ul,
ol,
dl {
  margin: 0 0 rem($space);
}

ul,
ol,
dl {
  padding: 0 0 0 rem($space);
}

ul {
  @include resetList();
}

a {
  color: $link;
  text-decoration: none;

  &:active {
    color: $link;
  }

  &:hover {
    color: $link-hover;
  }
}

::-moz-selection {
  background: $primary;
  color: $primary-negative;
}

::selection {
  background: $primary;
  color: $primary-negative;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img,
embed,
object,
iframe,
video {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
}

details {
  display: block;
}

summary {
  display: list-item;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
