/* =======================================
 * Code
 * ======================================= */

code,
kbd,
pre,
samp {
  font-family: $font-familyMono;
}

code {
  @include fontSize($font-size-xs, $lineHeight-xs);
  color: #e83e8c;
  word-break: break-word;

  a > & {
    color: inherit;
  }
}

kbd {
  @include fontSize($font-size-s, $lineHeight-s);
  background-color: $bg-50;
  border-radius: $border-radius;
  color: $text-400;
  padding: ($space / 6) ($space / 4);

  kbd {
    font-size: 100%;
    padding: 0;
  }
}

pre {
  @include fontSize($font-size-xs, $lineHeight-xs);
  color: $text-400;
  display: block;

  code {
    color: inherit;
    font-size: inherit;
    word-break: normal;
  }
}
