/* =======================================
 * Fonts
 * ======================================= */

@font-face {
  font-family: 'Px Grotesk';
  src: url('/fonts/Px-Grotesk-Regular.woff2') format('woff2'),
       url('/fonts/Px-Grotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Px Grotesk';
  src: url('/fonts/Px-Grotesk-Light.woff2') format('woff2'),
       url('/fonts/Px-Grotesk-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
