/* =======================================
 * Typography
 * ======================================= */

p {
  margin: 0 0 rem($space-m);
}

b,
strong {
  font-weight: $font-weightStrong;
}

small {
  @include text(xs);
  display: inline-block;
}

hr {
  border: 0;
  border-top: rem(1px) solid $border-700;
  display: block;
  height: rem(1px);
  margin-bottom: rem($space-m);
  margin-top: 0;
  overflow: visible;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: $font-familyMono;
  font-size: 1rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// h1, h2, h3, h4, h5 {
//   &:not(:first-child) {
//     margin-top: rem($space-xl);
//   }
// }

h1, .h1 {
  @include heading(h1);
}

h2, .h2 {
  @include heading(h2);
}

h3, .h3 {
  @include heading(h3);
}

h4, .h4 {
  @include heading(h4);
}

h5, .h5 {
  @include heading(h5);
}

h6, .h6 {
  @include heading(h6);
}

