/* =======================================
 * Typography
 * ======================================= */

p {
  margin: 0 0 rem($space);
}

b,
strong {
  font-weight: $font-weightStrong;
}

hr {
  border: 0;
  border-top: 1px solid $border-10;
  display: block;
  height: 1px;
  margin-bottom: rem($space);
  margin-top: 0;
  padding: 0;
}

hgroup {
  > *:not(:last-child) {
    margin-bottom: rem($space-xs);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-family: $heading-fontFamily;
  font-weight: $heading-fontWeight;
  margin: 0 0 rem($space);
}

h1, .h1 {
  @include heading(h1);
}

h2, .h2 {
  @include heading(h2);
}

h3, .h3 {
  @include heading(h3);
}

h4, .h4 {
  @include heading(h4);
}

h5, .h5 {
  @include heading(h5);
}

h6, .h6 {
  @include heading(h6);
}

