@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

:root {
  @include fontSize(
    $minFontSize: $font-size,
    $maxFontSize: 999px,
    $root: true,
    $scaleValue: 1.25vw
  );
  background: var(--bg-50);
  color: var(--text-950);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: var(--root-min-width);
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-wrap: pretty;
  touch-action: pan-y;
  -webkit-touch-callout: none;

  &.is-transition {
    pointer-events: none;
    touch-action: none;
  }

  &.is-loading,
  &.is-lock {
    overflow-y: clip;
  }
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

:where(:focus) {
  outline: 0;
}

:where(:focus-visible) {
  background-color: var(--focus-visible-bg);
  color: var(--focus-visible-fg);
  outline: 0;
}

::-moz-selection {
  background: var(--bg-950);
  color: var(--tone-50);
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

:where(figure) {
  margin: 0;
}

:where(img, video, iframe) {
  max-width: 100%;
}

:where(img) {
  height: auto;
  vertical-align: middle;
}

:where(video) {
  display: block;
  height: auto;
  width: 100%;
}

:where(button) {
  all: unset;
  box-sizing: border-box;
}

:where(table) {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

:where(iframe) {
  border: 0;

  &,
  &::selection {
    background: transparent;
  }
}
