@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

:root {
  @include fontSize(
    $minFontSize: $font-size,
    $maxFontSize: 999px,
    $root: true,
    $scaleValue: 1.25vw
  );
  background-color: var(--bg-900);
  color: var(--text-50);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  inset: 0;
  min-width: var(--root-min-width);
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-wrap: pretty;
  touch-action: pan-y;
  -webkit-touch-callout: none;

  &.is-transition {
    pointer-events: none;
    touch-action: none;
  }
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

:where(ul) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(a) {
  color: var(--link);
  text-decoration: none;
}

:where(:focus) {
  outline: 0;
}

:where(:focus-visible) {
  background-color: var(--focus-visible-bg);
  color: var(--focus-visible-fg);
  outline: 0;
}

::-moz-selection {
  background: var(--bg-900);
  color: var(--tone-50);
}

::selection {
  background: var(--bg-900);
  color: var(--tone-50);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

:where(figure) {
  margin: 0;
}

:where(img, video) {
  max-width: 100%;
}

:where(img) {
  height: auto;
  vertical-align: middle;
}

:where(p) {
  margin: 0 0 rem($space-m);
}

:where(b, strong) {
  font-weight: var(--font-weight-700);
}

:where(small) {
  @include text(xs);
  display: inline-block;
  margin: 0 0 rem($space-m);
}

:where(hr) {
  border: 0;
  border-top: var(--border-width) solid var(--hr);
  display: block;
  height: var(--border-width);
  margin: 0 0 rem($space-m) 0;
  overflow: visible;
  padding: 0;
}

:where(button) {
  all: unset;
}
