@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  user-select: none;
  vertical-align: middle;
}

.Button-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  pointer-events: none;
}
