.Button--arrow {
  align-items: center;
  border: 0;
  border-radius: 60px;
  box-shadow: 0 0 0 1px rgba($border-10, 0.1);
  color: $text-10;
  flex-direction: column;
  height: rem($space * 2.25);
  justify-content: center;
  margin-left: rem($space);
  overflow: hidden;
  padding: 0;
  width: rem($space * 2.25);

  .Button-icon {
    position: absolute;
    z-index: 2;
  }

  .Button-icon--in {
    color: $text-700;
    z-index: 1;
  }

  .Button-icon--close {
    color: $text-700;
  }

  .Button-bg {
    background-color: $bg-10;
    border-radius: 50%;
    display: block;
    height: 200%;
    left: -75%;
    position: absolute;
    top: -50%;
    // transform: translateY(77%);
    width: 250%;
    z-index: 0;
  }

  @include mq(m) {
    height: rem($space * 2.5);
    width: rem($space * 2.5);
  }

  @include mq(l) {
    height: rem($space * 3);
    width: rem($space * 3);
  }
}
