/* =======================================
 * Button
 * ======================================= */

.Button {
  @include fontSize($Button-fontSize, $Button-lineHeight);
  align-items: center;
  background-color: transparent;
  border: $Button-borderWidth solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-flex;
  font-weight: $Button-fontWeight;
  margin-bottom: rem($space);
  margin-right: rem($space);
  min-height: rem($Button-minHeight);
  padding: rem(($Button-spaceY) - ($Button-borderWidth * 2)) rem($Button-spaceX);
  position: relative;
  user-select: none;
  vertical-align: top;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  // @include mq($until: l) {
  //   @include fontSize($Button-fontSize-s, $Button-lineHeight-s);
  //   margin-right: rem($space / 1.5);
  //   min-height: rem($Button-minHeight-s);
  //   padding: rem(($Button-spaceY-s) - ($Button-borderWidth * 2)) rem($Button-spaceX-s);
  // }
}

.Button-text {
  pointer-events: none;

  + .Button-icon {
    margin-left: rem($space / 2);
  }
}

.Button-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  pointer-events: none;

  + .Button-text {
    margin-left: rem($space / 2);
  }
}