/**
 * 1. Safari hack https://stackoverflow.com/a/49066720
 */
.Button--arrow {
  align-items: center;
  border: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 rem(1px) var(--white);
  color: var(--white);
  flex-direction: column;
  height: rem($space * 2.25);
  justify-content: center;
  margin-left: rem($space);
  -webkit-mask-image: -webkit-radial-gradient(var(--white), var(--white)); // [1.]
  overflow: hidden;
  padding: 0;
  width: rem($space * 2.25);

  .Button-icon {
    position: absolute;
    z-index: 2;
  }

  .Button-icon--in {
    color: var(--text-1000);
    z-index: 1;
  }

  .Button-icon--close {
    color: var(--text-1000);
  }

  .Button-bg {
    background-color: var(--white);
    border-radius: 50%;
    display: block;
    height: 200%;
    left: -75%;
    position: absolute;
    top: -50%;
    transform: translateY(77%);
    width: 250%;
    z-index: 0;
  }

  @include mq(m) {
    height: rem($space-l);
    width: rem($space-xl);
  }

  @include mq(l) {
    height: rem($space-xl);
    width: rem($space-xxl);
  }
}
