.Button {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;

  &[href] {
    cursor: pointer;
  }
}

.Button-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  pointer-events: none;

  @at-root .is-ios & {
    will-change: transform;
  }
}
