@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Button--default {
  @include text(m);
  align-items: center;
  background: var(--Button-bg, var(--bg-50));
  border: var(--border-width) solid var(--Button-border, transparent);
  border-radius: var(--Button-radius, var(--border-radius-full));
  box-shadow: var(--Button-shadow, var(--shadow));
  color: var(--Button-text, var(--text-950));
  gap: rem($space-xs);
  justify-content: space-between;
  min-height: rem($space-xl);
  padding: rem($space-xs) rem($space-m);
  transition:
    background-color var(--trans-primary-fastest),
    color var(--trans-primary-fastest),
    border-color var(--trans-primary-fastest),
    box-shadow var(--trans-primary-fastest);

  &:hover,
  &:focus-visible {
    background: var(--Button-hover-bg, transparent);
    border-color: var(--Button-hover-border, var(--border-950));
    box-shadow: var(--Button-hover-shadow, unset);
    color: var(--Button-hover-text, var(--text-950));
  }

  &:active {
    translate: 0 $space-5xs;
  }

  .Button-icon {
    margin-right: rem($space-3xs * -1);

    @at-root .is-ios & {
      will-change: transform;
    }
  }

  .Button-text {
    @at-root .is-ios & {
      position: relative;
      top: rem($space-5xs * 1);
    }
  }
}

/* =======================================
 * Variants
 * ======================================= */

.Button--default {
  &.-radius\:m {
    --Button-radius: var(--border-radius);
    padding-left: rem($space);
    padding-right: rem($space);
  }

  &.-size\:s,
  &.-size\:square\:s {
    .Button-icon {
      --Icon-size: var(--Icon-size-s);
    }
  }

  &.-size\:s {
    min-height: rem($space-ml);
    padding: rem($space-3xs) rem($space);

    &.-radius\:m {
      padding-left: rem($space-s);
      padding-right: rem($space-s);
    }
  }

  &.-size\:square,
  &.-size\:square\:s {
    justify-content: center;
    padding: 0;

    .Button-icon {
      margin: 0;
    }
  }

  &.-size\:square {
    min-height: rem($space-xl);
    width: rem($space-xl);
  }

  &.-size\:square\:s {
    min-height: rem($space-ml);
    width: rem($space-ml);
  }
}

.Button--default--dark {
  --Button-bg: var(--bg-950);
  --Button-text: var(--text-50);
  --Button-shadow: none;
  --Button-hover-bg: var(--bg-800);
  --Button-hover-border: var(--bg-800);
  --Button-hover-text: var(--text-50);
}
