.Button {
  display: inline-flex;
  position: relative;
  user-select: none;
  vertical-align: middle;

  &[href] {
    cursor: pointer;
  }
}

.Button-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
