@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Avatar {
  align-items: center;
  display: flex;
  gap: rem($space-s);
}

.Avatar-figure {
  --Figure-height: #{rem($space-xl)};
  --Figure-width: #{rem($space-xl)};
  flex-shrink: 0;
}

.Avatar-meta {
  min-width: 0;
}
