// =======================================
// Wrap Mixins
// =======================================

@mixin Wrap() {
  // margin-left: auto;
  // margin-right: auto;
  // max-width: $wrapMaxWidth;
  padding-left: $wrapSpaceEdge;
  padding-right: $wrapSpaceEdge;
  width: 100%;

  @include mq(l) {
    padding-left: $wrapSpaceEdgeLeft-l;
    padding-right: $wrapSpaceEdgeRight-l;
  }
}
