@use 'stylesheets/mixins' as *;

.Template--archive {
  .Template-figureGrid {
    --grid-gap: var(--grid-gap-m);
    display: grid;
    gap: var(--grid-gap);

    @include mq(m) {
      --grid-gap: var(--grid-gap-l);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
