@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--uiLab {
  --Template-box-bg: #fafafa;
  --Template-box-border: var(--border-100);

  --Button-text: var(--text-900);
  --Button-hover-bg: var(--bg-50);
  --Button-hover-border: transparent;
  --Button-hover-shadow: var(--shadow-hover);
  --Button-hover-text: var(--text-950);

  .Template-area {
    position: relative;
  }

  .Template-headingArea {
    position: relative;
  }

  .Template-heading {
    background: linear-gradient(
        160deg,
        var(--black) 40%,
        hsl(var(--black-hsl) / 0.7)
      )
      text;
    color: transparent;
    display: inline-block;
    padding-right: rem($space-2xs);
  }

  .Template-legos {
    display: grid;
    inset: 0 0 auto auto;
    position: absolute;
    rotate: -33deg;
    transition: rotate var(--trans-primary-fast);
    width: 10vw;

    &:hover {
      rotate: -15deg;

      .Template-lego--1 {
        transform: translate(0, -4.65vw);
      }

      .Template-lego--2 {
        transform: translate(-4.1vw, 2.35vw);
      }

      .Template-lego--3 {
        transform: rotateZ(0) translate(0, 0);
      }
    }

    @include mq(l) {
      inset: rem($space-m) 0 auto auto;
      width: 7vw;

      &:hover {
        .Template-lego--1 {
          transform: translate(0, -3.3vw);
        }

        .Template-lego--2 {
          transform: translate(-2.8vw, 1.6vw);
        }
      }
    }
  }

  .Template-lego {
    grid-area: 1 / 1;
    transition: transform var(--trans-primary-fast) 0.1s;
  }

  .Template-lego--1 {
    filter: hue-rotate(310deg);
  }

  .Template-lego--2 {
    filter: hue-rotate(10deg);
    transform: translate(-7.7vw, 0);

    @include mq(l) {
      transform: translate(-5.35vw, 0.1vw);
    }
  }

  .Template-lego--3 {
    filter: hue-rotate(270deg);
    transform: rotateZ(-50deg) translate(0, 20vw);

    @include mq(l) {
      transform-origin: bottom left;
    }
  }

  .Template-highlightColor {
    background: linear-gradient(150deg, var(--accent-1), var(--accent-4));
    background-clip: text;
    color: transparent;
  }

  .Template-box {
    background: var(--Template-box-bg);
    border: var(--border-width) solid var(--Template-box-border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .Template-box-content {
    display: flex;
    flex: 1;
    min-height: rem($space * 24);

    &:not(:has(.Template-box-iframe)) {
      display: grid;
      place-content: center;
    }

    @include mq(s) {
      min-height: rem($space * 26);
    }
  }

  .Template-box-iframe {
    width: 100%;
  }

  .Template-box-footer {
    border-top: var(--border-width) solid var(--Template-box-border);
    display: flex;
    gap: rem($space-s);
    padding: rem($space-s) rem($space);
  }

  .Template-bg {
    inset: 0;
    isolation: isolate;
    pointer-events: none;
    position: absolute;
  }

  .Template-bg-1,
  .Template-bg-2 {
    inset: 0 auto auto 0;
    position: absolute;
    rotate: -45deg;
  }

  .Template-bg-1 {
    background: radial-gradient(
      80% 70% at 50% 30%,
      hsl(var(--accent-4-hsl) / 0.4),
      transparent 50%
    );
    height: rem($space * 85);
    translate: 0 rem($space * -22);
    width: rem($space * 35);
    z-index: 1;
  }

  .Template-bg-2 {
    z-index: 0;

    @include mq($until: m) {
      display: none;
    }
  }

  .dark & {
    --Template-bg: hsl(240deg 10% 4%);
    --Template-text: var(--text-50);
    --Footer-border: var(--border-900);

    --Template-box-bg: hsl(240deg 5% 4%);
    --Template-box-border: hsl(var(--white-hsl) / 0.04);

    --Button-bg: hsl(240deg 8% 7%);
    --Button-text: var(--text-100);
    --Button-shadow: var(--shadow-dark);
    --Button-hover-bg: var(--Button-bg);
    --Button-hover-shadow: var(--shadow-dark-hover);
    --Button-hover-text: var(--text-50);

    --selection-bg: var(--bg-50);
    --selection: var(--text-950);
    --text-900: var(--text-100);
    --border-950: var(--border-900);
    --link: var(--text-50);

    .Template-heading {
      background-image: linear-gradient(
        160deg,
        var(--white) 40%,
        hsl(var(--white-hsl) / 0.5)
      );
    }

    .Template-subtitle {
      color: var(--text-100);
    }

    .Template-bg {
      @at-root .has-themeColor.dark .Template--uiLab .Template-bg {
        &:before {
          background: linear-gradient(var(--Template-bg), transparent 2%);
          content: '';
          inset: 0;
          position: absolute;
          z-index: 2;
        }
      }
    }

    .Template-bg-1 {
      background: radial-gradient(
        80% 70% at 50% 30%,
        hsl(240deg 15% 10%),
        transparent 50%
      );
    }

    .Template-bg-2 {
      background: radial-gradient(
        50% 100% at center,
        hsl(240deg 15% 10%),
        var(--Template-bg) 50%
      );
      height: rem($space * 70);
      translate: 0 rem($space * -45);
      width: rem($space * 30);
    }
  }
}
