@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--uiLab {
  --Template-bg: #fafafa;
  --Footer-border: var(--border-900);

  .Template-main {
    --Template-box-bg: #f4f4f5;
    // var(--border-200); var(--border-100);
    --Template-box-border: hsl(var(--black-hsl) / 0.07);

    --Button-color: var(--text-800);
    --Button-radius: var(--border-radius);
    --Button-hover-bg: var(--bg-50);
    --Button-hover-border: transparent;
    --Button-hover-shadow: var(--shadow-hover);
    --Button-hover-color: var(--text-950);

    --heading: var(--text-950);
  }

  .ul-dark & {
    --Template-bg: #09090b;
    --Footer-border: var(--border-900);

    .Template-main {
      --Template-color: var(--text-700);
      --Template-box-bg: #{lighten(#09090b, 1)};
      --Template-box-border: var(--border-900);

      --Button-bg: #{lighten(#09090b, 3)};
      --Button-color: var(--text-100);
      --Button-shadow: var(--shadow-dark);
      --Button-hover-bg: var(--Button-bg);
      --Button-hover-shadow: var(--shadow-dark-hover);
      --Button-hover-color: var(--text-50);

      --heading: var(--text-50);
      --text-800: var(--text-700);
      --border-950: var(--border-900);
    }
  }

  .Template-box {
    background: var(--Template-box-bg);
    border: var(--border-width) solid var(--Template-box-border);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
  }

  .Template-box-content {
    display: grid;
    flex: 1;
    min-height: rem($space * 24);
    place-content: center;

    @include mq(s) {
      min-height: rem($space * 26);
    }
  }

  .Template-box-footer {
    border-top: var(--border-width) solid var(--Template-box-border);
    display: flex;
    gap: rem($space-s);
    padding: rem($space-s) rem($space);
  }
}
