.Header {
  min-width: $root-minWidth;
  mix-blend-mode: difference;
  padding-top: rem($space * 1.5);
  position: fixed;
  width: 100%;
  z-index: 99;

  @include mq(m) {
    padding-top: rem($space * 2);
  }

  @include mq(l) {
    padding-top: rem($space * 3);
  }
}

.Header-ctrl {
  align-items: center;
  display: flex;
  line-height: 0;
  width: 100%;
}

.Header-logo,
.Header-button-text-item {
  color: $text-10;
  height: rem($space * 2);
  line-height: rem($space * 2);

  @include mq(m) {
    @include fontSize($h5-fontSizeMin, false, $h5-fontSizeMax);
  }
}

.Header-logo {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
  overflow: hidden;
  position: relative;
  z-index: 1;

  a {
    color: $text-10;
    display: block;
    transition: $trans-duration-fast;
  }

  @include mq(m) {
    margin: 0;
  }
}

.Header-logo-reveal {
  left: 0;
  position: absolute;
  top: 0;
}

.Header-separator {
  display: none;

  @include mq(m) {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: rem($space * 2);
    justify-content: center;
    margin: 0 rem($space / 1.5);
    overflow: hidden;
    position: relative;
    width: rem($space * 1.25);
    z-index: 1;
  }
}

.Header-separator-line {
  background: $bg-10;
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

.Header-button {
  align-items: center;
  display: flex;
  margin: 0;
  z-index: 1;
}

.Header-button-textMobile {
  display: block;
  line-height: rem($space * 2);
  margin-right: rem($space / 1.5);
  overflow: hidden;
  position: relative;

  @include mq(m) {
    display: none;
  }
}

.Header-button-textMobile-reveal {
  left: 0;
  position: absolute;
  top: 0;
}

.Header-button-text {
  position: relative;
}

.Header-button-text-item {
  margin-right: rem($space / 1.5);
  overflow: hidden;
  text-align: left;

  @include mq($until: m) {
    display: none;
  }
}

.Header-button-text-item--reveal {
  bottom: 0;
  left: 0;
  position: absolute;
  width: rem($space * 20);
}

.Header-button-arrow {
  .Button--arrow {
    margin: 0;
  }

  @include mq($until: m) {
    opacity: 1 !important;
    transform: none !important;
  }
}

.Header-mask {
  background: $bg-700;
  bottom: 0;
  clip-path: circle(0% at 0px 0px);
  height: 100vh;
  left: 0;
  min-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
}

.Header-nav {
  @include heading(h3, false);
  border-top: 1px solid $border-500;
  margin-top: rem($space * 5);
  padding-top: rem($space * 2);

  @include mq(m) {
    border-top: 0;
    margin-left: rem($space * 12);
    margin-top: rem($space * 8);
    padding-top: 0;
  }
}

.Header-nav-item {
  margin-bottom: rem($space / 1.5);
}

.Header-nav-link {
  color: $text-10;

  &:hover {
    color: $text-10;
  }
}
