/* =======================================
 * Header
 * ======================================= */

.Header {
  min-width: 300px;
  padding-top: rem($space * 1.5);
  position: absolute;
  z-index: 99;
  width: 100%;

  @include mq(m) {
    padding-top: rem($space * 3);
  }
}

.Header-ctrl {
  align-items: center;
  display: flex;
  line-height: 0;
  width: 100%;
}

.Header-logo, .Header-button {
  @include mq(m) {
    @include heading('h5');
    margin-bottom: 0;
  }
}

.Header-logo {
  margin-right: auto;

  @include mq(m) {
    display: flex;
    flex-direction: column;
    height: rem($space * 2);
    margin: 0;
    line-height: rem($space * 2);
    overflow: hidden;
    position: relative;
  }

  a {
    color: $text-700;
    display: block;
    border-bottom: 1px solid transparent;
    transition: $trans-duration-fast;

    &:hover { 
      border-color: $border-20; 
    }
  }
}

.Header-logo-reveal {
  a {
    color: $text-10;

    &:hover {
      border-color: $border-10;
    }
  }
}

.Header-logo-reveal, 
.Header-button-text-reveal {
  color: $text-10;
  position: absolute;
  top: 0;
  left: 0;
}

.Header-separator {
  display: none;  

  @include mq(m) {
    align-items: center;
    display: flex;
    height: rem($space * 2);
    margin: 0 rem($space / 1.5);
    justify-content: center;  
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: rem($space * 1.25);
  }
}

.Header-separator-line {
  display: block;
  background: $bg-700;
  position: absolute;
  height: 2px;
  width: 100%;
}

.Header-separator-line--reveal {
  background: $bg-10;
}

.Header-button {
  align-items: center;
  display: flex;
  margin: 0;
  z-index: 1;

  &:hover { 
    span {
      border-color: $border-20; 
    }

    .Header-button-text-reveal {
      span {
        border-color: $border-10;
      }
    }
  }
}

.Header-button-text {
  @include mq(m) {
    display: flex;
    flex-direction: column;
    height: rem($space * 2);
    line-height: rem($space * 2);
    overflow: hidden;
    position: relative;

    span {
      display: block;
      border-bottom: 1px solid transparent;
      transition: $trans-duration-fast;
    }
  }
}

.Header-button-text-mobile {
  margin-right: rem($space / 1.5);

  @include mq(m) {
    display: none;
  }
}

.Header-button-text {
  margin-right: rem($space);

  @include mq($until: m) {
    display: none;
  }
}

.Header-button-text-reveal {
  span {
    border-color: $border-10;
  }
}

.Header-button-arrow.Button--arrow {
  margin: 0;
}

.Header-nav {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.Header-bg {
  background: $bg-700;
  bottom: 0;
  height: 100vw;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 98;
}