@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Table {
  background: var(--bg-50);
  border: var(--border-width) solid var(--border-100);
  border-radius: var(--border-radius-s);
  caption-side: bottom;
  min-width: 100%;
  overflow: hidden;

  table {
    min-width: 100%;
  }
}

.Table-head {
  background: var(--bg-200);
  color: var(--text-800);
  font-weight: var(--font-weight-400);
  text-align: left;
}

.Table-body {
  .is-safari & .Table-row {
    &:last-child {
      border-bottom: 0;
    }
  }
}

.Table-row {
  background: var(--Table-row-bg, inherit);
  position: relative;
  transition: background-color var(--trans-primary-fastest);

  &:hover,
  &:has(:focus-visible) {
    background: var(--Table-row-bg, var(--bg-100));
  }

  &[data-href] {
    cursor: pointer;
  }

  &:after {
    border-bottom: var(--border-width) solid var(--border-100);
    content: '';
    inset: auto 0 0 0;
    position: absolute;
  }

  .is-safari & {
    border-bottom: var(--border-width) solid var(--border-100);
    transform: translateY(0) !important;

    &:after {
      display: none;
    }
  }
}

.Table-head,
.Table-cell,
.Table-caption {
  padding: rem($space-s);
  vertical-align: middle;

  @include mq(l) {
    padding: rem($space-s) rem($space);
  }
}

.Table-caption {
  color: var(--text-800);
  text-align: left;

  .is-safari & {
    border-top: var(--border-width) solid var(--border-100);
    transform: translateY(0) !important;
  }
}
