.App {
  overflow: hidden;
  position: relative;
  z-index: $App-zIndex;

  &.is-transition {
    pointer-events: none;
    touch-action: none;
  }
}

.App-main {
  position: relative;
  z-index: $App-main-zIndex;
}
