.Hero--oras {
  --Stamp-iris: var(--oras-primary);
  background-color: var(--oras-bg-50);

  .Hero-figure {
    height: clamp(rem($space * 14), 55vw, rem($space * 28));
  }

  .Hero-figure-figure {
    --width: 55vw;
    inset: rem($space * 4) 0 0 rem($space * -3);
    position: absolute;
    width: clamp(rem($space * 17), var(--width), rem($space * 32));
    z-index: 3;

    @include mq(s) {
      --width: 50vw;
      inset: rem($space * 6) 0 0 rem($space * -3.5);
    }

    @include mq(l) {
      --width: 45vw;
      left: rem($space * -5);
    }
  }

  // Fix jumping, this is stupid :/
  &.-transition\:pre .Hero-figure-figure {
    top: rem($space * -1);
    @media (min-width: em(700px)) { top: rem($space * -0.55); }
    @media (min-width: em(550px)) { top: rem($space * -1.1); }
    @include mq(xxs) { top: rem($space * -0.95); }
    @include mq(s) { top: rem($space * 0.45); }
    @include mq(m) { top: rem($space * -1.2); }
  }

  .Hero-content {
    align-self: end;
  }

  &.is-transition {
    .Hero-content, .Hero-link {
      z-index: 0;
    }
  }

  .Hero-drop {
    height: auto;
    mix-blend-mode: darken;
    width: 100%;
    z-index: 1;
  }

  .Hero-drop--1 {
    inset: rem(-$space-m) auto auto rem($space * -1.5);
    max-width: rem($space * 3);
    position: absolute;

    @include mq(m) {
      inset: rem(-$space-xl) auto auto rem($space * -3);
      max-width: rem($space * 6);
    }
  }

  .Hero-drop--2 {
    inset: 18% auto auto 15vw;
    max-width: 12.5%;

    @include mq(m) {
      max-width: rem($space * 7);
      top: 15%;
    }
  }

  .Hero-drop--3 {
    inset: auto 0 25% 30vw;
    max-width: 10%;

    @include mq(m) {
      max-width: rem($space * 5);
    }

    @include mq(l) {
      bottom: 10%;
    }
  }

  .Hero-stamp.Stamp {
    .Stamp-inner {
      @include mq($until: s) {
        inset: -3vw 0 0 -10vw;
      }

      @include mq(l) {
        inset: 2vw 0 0 -12vw;
      }
    }
  }
}
