:root {
  --oras-bg: var(--white);
  --oras-heading: var(--black);
  --oras-primary: #eb1414;

  --oras-Hero-figure-bg: var(--black);
  --oras-Hero-figure-bg-alpha: var(--bg-gray-100-opaque-alpha);
  --oras-Hero-figure-bg-rgb: 0, 0, 0;
  --oras-Hero-figure-preTransitionBgAlpha: var(--bg-gray-50-opaque-alpha);
}
