@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--oras {
  --Template-bg: var(--oras-bg-50);
  --Figure-placeholder-bg: var(--oras-bg-100);
  --border-100: var(--oras-border-100);
  --text-700: var(--oras-text-700);

  .Template-figure-1.Figure {
    margin: rem($space-m) 0 rem($space-2xl) 0;

    @include mq(l) {
      margin-top: rem($space * -6);
    }
  }

  .Template-figure-2.Figure {
    margin-bottom: rem($space);

    @include mq(m) {
      margin-bottom: 0;
      margin-top: rem($space * 12);
    }
  }
}
