/* =======================================
 * Container
 * ======================================= */

.Container {
  padding-bottom: rem($space);
  padding-top: rem($space);

  @include mq(m) {
    padding-bottom: rem($space * 3);
    padding-top: rem($space * 3);
  }
}
