.Figure {
  margin-bottom: rem($space-xxl);

  // &.-placeholderColor\:10 {
  //   .Figure-figure {
  //     background: $bg-10;
  //   }
  // }

  // &.-placeholderColor\:50 {
  //   .Figure-figure {
  //     background: $bg-50-opaque;
  //   }
  // }

  &.-mask {
    overflow: hidden;

    @include mq($until: mobile) {
      .Figure-figure  {
        background: transparent;
      }
    }
  }
}

.Figure-figure {
  margin-bottom: 0;
}

.Figure-figure-inner {
  position: relative;
  transform-origin: top center;
}

.Figure-blur, .Figure-blur-canvas {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Figure-video {
  height: 100%;
  width: 100%;
}
