.Figure {
  --Figure-border: var(--Figure-border-width, var(--border-width-s)) solid
    var(--Figure-border-color, var(--border-100));

  &.-bg {
    .Figure-figure-main {
      background: var(--Figure-bg-color, var(--bg-200));
    }
  }

  &.-border {
    .Figure-figure-main {
      border: var(--Figure-border);
    }
  }

  &.-border\:radius {
    &,
    .Figure-figure-main,
    img,
    video,
    .Figure-placeholder,
    .Figure-glare {
      border-radius: var(--Figure-border-radius, var(--border-radius));
    }
  }

  &.-mask {
    overflow: hidden;
  }
}

.Figure-figure-main {
  background-clip: padding-box;
  position: relative;
  transform-origin: top center;
}

.Figure-placeholder,
.Figure-placeholder-glare,
.Figure-glare {
  inset: 0;
  position: absolute;
}

.Figure-placeholder {
  background-color: var(--Figure-placeholder-bg, var(--bg-200));
  overflow: hidden;
  z-index: 1;

  .Figure:not(.-border) & {
    inset: var(--border-width-negative);
  }
}

.Figure-placeholder-glare,
.Figure-glare {
  background-image: linear-gradient(
    -45deg,
    transparent 20%,
    var(--Figure-glare-bg, var(--white)),
    transparent 50%
  );
  background-repeat: no-repeat;
  background-size: 350% 100%;
  opacity: var(--Figure-glare-opacity, 1);
}

.Figure-glare {
  z-index: 2;
}

.Figure-video {
  display: block;
  height: 100%;
  width: 100%;
}
