@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Figure {
  height: var(--Figure-height, auto);
  width: var(--Figure-width, fit-content);

  * {
    border-radius: var(--Figure-border-radius, var(--border-radius));
  }
}

.Figure-main {
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
  transform-origin: top left;

  .Figure.-transition\:clip & {
    transform-origin: bottom center;
  }
}

.Figure-img {
  height: var(--Figure-height, auto);
  object-fit: cover;
}

.Figure-placeholder {
  background-color: var(--Figure-placeholder-bg, var(--bg-300));
  overflow: hidden;
  z-index: 1;

  .Figure:not(.-border) & {
    inset: var(--border-width-negative);
  }
}

.Figure-placeholder-glare,
.Figure-glare {
  background-image: linear-gradient(
    -45deg,
    transparent 20%,
    var(--Figure-glare-bg, var(--bg-50)),
    transparent 50%
  );
  background-repeat: no-repeat;
  background-size: 350% 100%;
  opacity: var(--Figure-glare-opacity, 1);
}

.Figure-glare {
  z-index: 2;
}

/* =======================================
 * Variants
 * ======================================= */

.Figure {
  &.-bg {
    .Figure-main {
      background: var(--Figure-bg, var(--bg-200));
    }
  }

  &.-border {
    .Figure-main {
      border: var(--Figure-border-width, var(--border-width-s)) solid
        var(--Figure-border, var(--border-100));
    }
  }

  &.-border\:dashed {
    .Figure-main {
      border: var(--Figure-border-width, var(--border-width-dashed)) dashed
        var(--Figure-border, var(--border-100));
    }
  }

  &.-border\:radius\:0 {
    --Figure-border-radius: 0;
  }

  &.-inline {
    display: inline-block;
    vertical-align: middle;
  }

  &.-video {
    --Figure-width: auto;
  }

  &.-fill\:l {
    height: rem($space * 18);

    .Figure-img {
      height: rem($space * 28);
    }

    .Figure-main {
      height: 100%;
    }

    @include mq(s) {
      height: rem($space * 28);

      .Figure-img {
        height: rem($space * 40);
      }
    }

    @include mq(l) {
      height: rem($space * 40);

      .Figure-img {
        height: rem($space * 52);
      }
    }
  }
}
