@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Hero--oras {
  --Stamp-iris: var(--oras-primary);

  .Hero-figure {
    height: clamp(rem($space * 14), 55vw, rem($space * 28));
  }

  .Hero-figure-figure {
    --width: 60vw;
    inset: 20vw 0 0 -10vw;
    position: absolute;
    width: clamp(rem($space * 17), var(--width), rem($space * 32));
    z-index: 3;

    @include mq(l) {
      --width: 45vw;
      inset: 7vw 0 0 -7vw;
    }
  }

  .Hero-content {
    align-self: end;
  }

  .Hero-drop {
    height: auto;
    mix-blend-mode: darken;
    width: 100%;
    z-index: 1;
  }

  .Hero-drop--1 {
    inset: rem(-$space-m) auto auto rem(-$space-m);
    max-width: rem($space * 3);
    position: absolute;

    @include mq(m) {
      inset: rem(-$space-xl) auto auto rem($space * -3);
      max-width: rem($space * 6);
    }
  }

  .Hero-drop--2 {
    inset: 25vw auto auto 15vw;
    max-width: rem($space-xl);

    @include mq(m) {
      inset: 12vw auto auto 15vw;
      max-width: rem($space * 6);
    }
  }

  .Hero-drop--3 {
    inset: auto 0 35vw 30vw;
    max-width: rem($space-l);

    @include mq(m) {
      max-width: rem($space * 5);
    }

    @include mq(l) {
      inset: auto 0 7vw 30vw;
    }
  }

  .Hero-stamp {
    .Stamp-inner {
      inset: -7vw 0 0 -10vw;

      @include mq(l) {
        inset: 0 0 0 -15vw;
      }
    }
  }
}
