@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Hero--mediasignal {
  --Hero-bg: var(--mediasignal-bg-50);
  --Stamp-overlay: var(--mediasignal-bg-50);
  --Stamp-iris: var(--mediasignal-primary);

  .Hero-figure-figure {
    --width: 90vw;
    inset: rem($space * 2) 0 0 rem($space * -3.5);
    position: absolute;
    width: clamp(rem($space * 24), var(--width), rem($space * 52));
    z-index: 3;

    @include mq(m) {
      --width: 80vw;
    }

    @include mq(l) {
      --width: 64vw;
      inset: rem($space * 3) 0 0 rem($space * -5);
    }
  }

  .Hero-stamp.Stamp {
    .Stamp-inner {
      inset: 0 0 0 6vw;

      @include mq(m) {
        inset: 3vw 0 0 10vw;
      }

      @include mq(l) {
        inset: 3vw 0 0 20vw;
      }
    }
  }
}
