@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Hero--mediasignal {
  --Hero-bg: var(--mediasignal-bg-50);
  --Stamp-overlay: var(--mediasignal-bg-50);
  --Stamp-iris: var(--mediasignal-primary);

  .Hero-figure-figure {
    --width: 90vw;
    inset: 7vw 0 0 -7vw;
    position: absolute;
    width: clamp(rem($space * 24), var(--width), rem($space * 52));
    z-index: 3;

    @include mq(l) {
      --width: 70vw;
    }

    @include mq(xl) {
      --width: 64vw;
    }
  }

  .Hero-stamp.Stamp {
    .Stamp-inner {
      inset: 0 0 0 5vw;

      @include mq(m) {
        inset: 5vw 0 0 5vw;
      }

      @include mq(l) {
        inset: 5vw 0 0 20vw;
      }
    }
  }
}
