@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Hero--sandbox {
  --Hero-bg: var(--sandbox-bg-50);
  --Stamp-iris: var(--sandbox-primary);
  --Stamp-overlay: var(--sandbox-bg-50);

  .Hero-figure {
    height: clamp(rem($space * 14), 45vw, rem($space * 27));
  }

  .Hero-figure-figure {
    --width: 45vw;
    inset: rem($space * 7) 0 0 rem($space * -4);
    position: absolute;
    width: clamp(rem($space * 14), var(--width), rem($space * 32));
    z-index: 3;

    @include mq(m) {
      --width: 40vw;
    }

    @include mq(l) {
      --width: 32vw;
      left: -58%;
    }
  }

  .Hero-content {
    align-self: end;
  }

  .Hero-stamp {
    .Stamp-inner {
      inset: 0 0 0 -20vw;

      @include mq(l) {
        inset: 0 0 0 -30vw;
      }
    }
  }
}
