@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Hero--sandbox {
  --Hero-bg: var(--sandbox-bg-50);
  --Stamp-iris: var(--sandbox-primary);
  --Stamp-overlay: var(--sandbox-bg-50);

  .Hero-figure {
    height: clamp(rem($space * 14), 45vw, rem($space * 27));
  }

  .Hero-figure-figure {
    --width: 43vw;
    inset: 30vw 0 0 -21.5vw;
    position: absolute;
    width: clamp(rem($space * 14), var(--width), rem($space * 28));
    z-index: 3;

    @include mq(xs) {
      inset: 15vw 0 0 -21.5vw;
    }

    @include mq(l) {
      --width: 35vw;
      inset: 13vw 0 0 -17.5vw;
    }
  }

  .Hero-content {
    align-self: end;
  }

  .Hero-stamp {
    .Stamp-inner {
      inset: -30vw 0 0 -25vw;

      @include mq(s) {
        inset: 0 0 0 -30vw;
      }
    }
  }
}
