@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Splash {
  background-color: var(--root-bg);
  color: var(--cream-50);
  inset: 0;
  position: fixed;
  user-select: none;
  z-index: $Splash-zIndex;
}

.Splash-main {
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  text-align: center;
}

.Splash-row {
  overflow: hidden;
}

.Splash-text {
  animation: animate 1s $ease;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(100%) skewX(-50deg) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0%) skewX(0deg) translateZ(0);
  }
}
