.Splash {
  background-color: var(--root-bg);
  color: var(--cream-50);
  inset: 0;
  position: fixed;
  user-select: none;
  z-index: $Splash-zIndex;

  @include mq(m) {
    padding-top: rem($space-ml);
  }

  @include mq(l) {
    padding-top: rem($space-l);
  }
}

.Splash-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: var(--wrap-spaceLeft);
  position: absolute;
  right: var(--wrap-spaceRight);
  text-align: center;
  top: 0;
}

.Splash-line {
  overflow: hidden;
}

.Splash-line--subHeading {
  @include text(xl);
}

.Splash-line--heading {
  @include heading(h3);
}

.Splash-text {
  animation: animate 1s $ease;
  display: block;
}

@keyframes animate {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0%, 0);
  }
}
