.Hero--moreWork {
  --Stamp-overlay: var(--moreWork-bg-50);
  --Stamp-iris: var(--moreWork-primary);
  background-color: var(--moreWork-bg-50);

  .Hero-figure-figure {
    --width: 45vw;
    inset: rem(-$space) -35vw 0 auto;
    position: absolute;
    width: clamp(rem($space * 11), var(--width), rem($space * 22));
    z-index: 3;
  }

  .Hero-figure-figure--bottom {
    inset: auto rem(-$space-m) rem($space-xxxl + $space) auto;
  }

  &.is-transition {
    .Hero-content, .Hero-link {
      z-index: 0;
    }
  }

  .Hero-stamp.Stamp {
    .Stamp-inner {
      inset: 0 0 0 -3.5vw;
    }
  }
}
