@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Template--moreWork {
  --Template-bg-color: var(--moreWork-bg-50);
  --Figure-placeholder-bg: var(--moreWork-bg-100);
  --Figure-glare-opacity: 0.3;
  --text-muted: var(--moreWork-text-muted);
}
