:root {
  --more-work-bg-200: #{darken(#cccfc8, 10)};
  --more-work-bg-100: #{darken(#cccfc8, 5)};
  --more-work-bg-50: #cccfc8;
  --more-work-text-mute: #{darken(#cccfc8, 50)};
  --more-work-primary: blue;
}
