@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--biocode {
  --Template-bg: var(--biocode-bg-50);
  --Footer-bg: var(--biocode-light-bg-100);
  --NextProject-bg: var(--biocode-light-bg-100);
  --Info-text: var(--biocode-text-900);
  --Subtitle-text: var(--biocode-primary-text);

  --Figure-placeholder-bg: var(--biocode-bg-100);
  --Figure-glare-opacity: 0.05;

  --Button-bg: var(--biocode-bg-100);
  --Button-text: var(--biocode-text-950);
  --Button-shadow: none;
  --Button-border: var(--biocode-border-50);
  --Button-hover-bg: var(--biocode-bg-200);
  --Button-hover-border: var(--biocode-border-200);
  --Button-hover-text: var(--biocode-primary-text);

  --border-100: var(--biocode-border-50);
  --border-950: var(--biocode-border-50);
  --link: var(--biocode-text-950);
  --text-900: var(--biocode-text-900);
  --text-950: var(--biocode-text-950);
  --selection-bg: var(--biocode-primary);
  --focus-visible-bg: var(--biocode-primary);

  .Template-ds {
    --Template-area-bg: var(--biocode-bg-100);
    --Figure-placeholder-bg: var(--biocode-bg-200);

    --border-100: var(--biocode-border-100);
  }

  .Template-ds-heading {
    --Template-area-bg: linear-gradient(
      to bottom,
      var(--biocode-bg-50),
      var(--biocode-bg-100)
    );
  }

  .Template-software {
    --Template-area-bg: var(--biocode-light-bg-100);
    --Subtitle-text: var(--biocode-light-primary-text);

    --Figure-placeholder-bg: var(--biocode-light-bg-300);
    --Figure-glare-opacity: 0.5;

    --Quote-bg: var(--biocode-light-bg-300);
    --Quote-border: transparent;

    --border-100: var(--biocode-light-border-100);
    --border-950: var(--biocode-light-border-100);
    --text-900: var(--biocode-light-text-900);
    --text-950: var(--biocode-light-text-950);

    color: var(--biocode-light-text-950);
  }

  .Template-software-hero {
    --Template-area-bg: var(--biocode-bg-100);
  }
}
