:root {
  --biocode-bg-50: #00081f;
  --biocode-bg-100: #000b29;
  --biocode-bg-200: #000e33;
  --biocode-bg-300: #001242;

  --biocode-border-50: hsl(230 60% 14%);
  --biocode-border-100: hsl(230 60% 18%);
  --biocode-border-200: hsl(230 60% 20%);
  --biocode-border-300: hsl(230 60% 22%);
  --biocode-border-400: hsl(230 60% 24%);
  --biocode-border: var(--biocode-border-50);

  --biocode-primary: #3959f9;
  --biocode-primary-text: #3377ff;

  --biocode-heading: #e0e3eb;
  --biocode-text-900: #949eb8;
  --biocode-text-950: #e0e3eb;
}
