/* =======================================
 * Oras hero
 * ======================================= */

.Oras-hero {
  min-height: rem($space * 23);
  min-width: var(--root-minWidth);
  position: relative;

  @include mq(xs) {
    min-height: 92vw;
  }

  @include mq(m) {
    min-height: 70vw;
  }

  @include mq(l) {
    min-height: 65vw;
  }
}

.Oras-hero-wrap {
  @include mq($until: m) {
    padding-right: 0;
  }
}

.Oras-hero-figure {
  height: 60vw;
  position: relative;

  @include mq(m) {
    height: 35vw;
  }
}

.Oras-hero-figure-img {
  display: block;
  margin-bottom: 0;
  margin-left: rem($space * -2);
  position: absolute;
  top: rem($space * 5);
  transform: translateZ(0);
  width: 130%;
  z-index: 3;

  @include mq(m) {
    margin-left: rem($space * -6);
    width: 140%;
  }
}

.Oras-hero-figure-bg {
  background: linear-gradient(180deg, #E9E9E9 0%, rgba(233, 233, 233, 0) 100%);
  height: 100vh;
  width: 100%;
  z-index: 0;

  .Oras-hero.-preAnimation & {
    height: 102%;
  }

  @include mq(m) {
    margin-left: -5%;
  }
}

.Oras-hero-drop {
  height: auto;
  mix-blend-mode: darken;
  position: absolute;
}

.Oras-hero-drop--1 {
  left: 15vw;
  max-width: 12.5%;
  top: 18%;

  @include mq(s) {
    left: 15vw;
    max-width: rem($space * 7);
    top: 18%;
  }
}

.Oras-hero-drop--2 {
  bottom: 10%;
  left: 35vw;
  max-width: 10.5%;
  
  @include mq(s) {
    max-width: rem($space * 5);
  }
}

.Oras-hero-drop--3 {
  display: none;
  left: rem($space * -2.25);
  max-width: rem($space * 5);
  top: rem($space * -3);

  @include mq(s) {
    display: block;
    max-width: rem($space * 6);
  }
}

.Oras-hero-headline {
  // @include fontSizeFluid(20px, 520px, 24px, 1);
  @include fontSizeFluid(20px, 500px, 24px, 1);
  align-items: flex-end;
  bottom: 0;
  display: flex;
  font-weight: $heading-fontWeightLight;
  height: 25%;
  letter-spacing: -0.05em;
  margin: 0;
  margin-left: var(--wrap-spaceLeft);
  position: absolute;
  transform: translate3d(0, -200%, 0);
  white-space: nowrap;
  z-index: 1;

  .Oras-hero.-preAnimation & {
    transform: translate3d(0, 0, 0);
  }

  .Headline-inner {
    margin-left: rem($space * -0.5);

    @include mq(m) {
      margin-left: rem($space * -1.5);
    }
  }
}
