.Oras-hero {
  min-height: rem($space * 23);
  min-width: var(--root-minWidth);
  position: relative;

  @include mq(xs) {
    min-height: 92vw;
  }

  @include mq(m) {
    min-height: 70vw;
  }

  @include mq(l) {
    min-height: 67vw;
  }

  @include mq(xxxl) {
    min-height: rem($space * 47);
  }
}

.Oras-hero-wrap {
  @include mq($until: m) {
    padding-right: 0;
  }
}

.Oras-hero-figure {
  height: 60vw;
  position: relative;

  @include mq(m) {
    height: 35vw;
  }
}

.Oras-hero-figure-img {
  display: block;
  margin-bottom: 0;
  margin-left: rem($space * -2);
  max-width: rem($space * 32);
  position: absolute;
  top: rem($space * 5);
  transform: translateZ(0);
  width: 55vw;
  z-index: 3;

  @include mq(m) {
    width: 45vw;
  }

  @include mq(l) {
    margin-left: rem($space * -6);
  }
}

.Oras-hero-figure-bg {
  background: linear-gradient(180deg, #E9E9E9 0%, rgba(233, 233, 233, 0) 100%);
  height: 100vh;
  max-width: rem($space * 20);
  width: 100%;
  z-index: 0;

  .Oras-hero.-preAnimation & {
    height: 100%;

    @include mq(m) {
      height: 40vw;
    }

    @include mq(l) {
      height: 35vw;
    }

    @include mq(xl) {
      height: rem($space * 25);
    }
  }

  @include mq(m) {
    margin-left: rem($space * -1);
  }
}

.Oras-hero-drop {
  height: auto;
  mix-blend-mode: darken;
  position: absolute;
  width: 100%;
}

.Oras-hero-drop--1 {
  left: 15vw;
  max-width: 12.5%;
  top: 18%;

  @include mq(m) {
    left: 15vw;
    max-width: rem($space * 7);
    top: 15%;
  }
}

.Oras-hero-drop--2 {
  bottom: 10%;
  left: 35vw;
  max-width: 10%;

  @include mq(m) {
    max-width: rem($space * 5);
  }
}

.Oras-hero-drop--3 {
  display: none;
  left: rem($space * -4);
  max-width: rem($space * 5);
  top: rem($space * -3);

  @include mq(m) {
    display: block;
    max-width: rem($space * 6);
  }
}

.Oras-hero-heading {
  bottom: 0;
  height: 25%;
  margin: 0 0 0 var(--wrap-spaceLeft);
  position: absolute;
  transform: translate3d(0, -175%, 0);
  white-space: nowrap;
  z-index: 1;

  .Oras-hero.-preAnimation & {
    transform: translate3d(0, 0, 0);
  }

  .Heading-inner {
    margin-left: rem($space * -0.5);

    @include mq(m) {
      margin-left: rem($space * -1.5);
    }
  }
}
