.OrasHero {
  background-color: $bg-10;
  height: rem($space * 24);
  max-height: rem($space * 52);
  min-width: var(--root-minWidth);
  position: relative;

  @include mq(xs) {
    height: 92vw;
  }

  @include mq(m) {
    height: 70vw;
  }

  @include mq(l) {
    height: 112vh; // 67vw;
  }
}

.OrasHero-wrap {
  @include mq($until: m) {
    padding-right: 0;
  }
}

.OrasHero-figure {
  height: 60vw;
  min-height: rem($space * 12);
  position: relative;

  @include mq(m) {
    height: 40vw;
  }
}

.OrasHero-figure-img {
  display: block;
  margin-bottom: 0;
  margin-left: rem(-$space-ml);
  max-width: rem($space * 32);
  min-width: rem($space * 12);
  position: absolute;
  top: rem($space * 5);
  width: 55vw;
  z-index: 3;

  .OrasHero.-preAnimation & {
    cursor: pointer;
  }

  @include mq(m) {
    width: 45vw;
  }

  @include mq(l) {
    margin-left: rem($space * -7);
    top: rem($space * 6);
    // top: 10vw;
  }
}

.OrasHero-figure-bg {
  background: linear-gradient(180deg, #E9E9E9 0%, rgba(233, 233, 233, 0) 100%);
  height: 100vh;
  width: 100%;
  z-index: 0;

  .OrasHero.-preAnimation & {
    height: 90%;
    height: 100%;
  }

  @include mq(l) {
    margin-left: rem(-$space-m);
  }
}

.OrasHero-drop {
  height: auto;
  mix-blend-mode: darken;
  position: absolute;
  width: 100%;
}

.OrasHero-drop--1 {
  left: 15vw;
  max-width: 12.5%;
  top: 18%;

  @include mq(m) {
    left: 15vw;
    max-width: rem($space * 7);
    top: 15%;
  }
}

.OrasHero-drop--2 {
  bottom: 10%;
  left: 35vw;
  max-width: 10%;

  @include mq(m) {
    max-width: rem($space * 5);
  }
}

.OrasHero-drop--3 {
  display: none;
  left: rem($space * -4);
  max-width: rem($space * 5);
  top: rem(-$space-xl);

  @include mq(m) {
    display: block;
    max-width: rem($space * 6);
  }
}

.OrasHero-heading {
  bottom: 0;
  height: 25%;
  margin: 0 0 0 var(--wrap-spaceLeft);
  position: absolute;
  transform: translate3d(0, -175%, 0);
  white-space: nowrap;
  z-index: 1;

  .OrasHero.-preAnimation & {
    cursor: pointer;
    transform: translate3d(0, 0, 0);
  }

  .Heading-inner {
    margin-left: rem(-$space-xs);

    @include mq(m) {
      margin-left: rem(-$space-m);
    }
  }
}

.OrasHero-buttonMobile {
  position: absolute;
  top: 41vw;

  > .grid {
    place-items: end;
  }

  @include mq(s) {
    top: 40vw;
  }

  @include mq(m) {
    display: none;
  }
}

.OrasHero-content {
  @include mq($until: m) {
    display: none;
  }

  @include mq(m) {
    align-self: end;
    justify-self: end;
  }

  @include mq(l) {
    justify-self: start;
  }
}

.OrasHero-content-heading {
  margin-bottom: rem($space-xs);

  @include mq($until: l) {
    display: none;
  }
}

.OrasHero-content-text {
  margin-bottom: rem($space-m);

  @include mq($until: l) {
    display: none;
  }
}
