.Template--oras {
  /**
   * Fix weird pixel on top in the video
   */
  .Template-videoBathroom {
    .Image-figure {
      overflow: hidden;
    }

    .Image-video {
      position: relative;
      top: -2px;
    }
  }
}
