.Template.Template--oras {
  background-color: $oras-bg;

  /**
   * Fix weird pixel on top in the video
   */
  .Template-videoBathroom {
    .Figure-figure {
      overflow: hidden;
    }

    .Figure-video {
      position: relative;
      top: -2px;
    }
  }

  // .Figure {
  //   &.-placeholderColor\:10 {
  //     .Figure-figure {
  //       background: $white;
  //     }
  //   }
  // }
}
