@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Hero--moreWork {
  --Hero-bg: var(--more-work-bg-50);
  --Stamp-overlay: var(--more-work-bg-50);
  --Stamp-iris: var(--more-work-primary);

  .Hero-figure-figure {
    --width: 50vw;
    inset: -5vw -35vw 0 auto;
    position: absolute;
    width: clamp(rem($space * 11), var(--width), rem($space * 22));
    z-index: 3;

    @include mq(s) {
      --width: 40vw;
    }

    @include mq(l) {
      --width: 33vw;
    }
  }

  .Hero-figure-figure--bottom {
    inset: auto rem(-$space-m) 10vw auto;
  }

  .Hero-figure-bg {
    height: 75%;
  }

  .Hero-stamp {
    .Stamp-inner {
      inset: 0 0 0 -4vw;
    }
  }
}
