@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Stamp {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  z-index: 0;
}

.Stamp-inner {
  position: relative;
}

.Stamp-inner, .Stamp-svg {
  $sizeMin: rem($space * 12);
  $sizeMax: rem($space * 22);

  height: clamp($sizeMin, 31vw, $sizeMax);
  width: clamp($sizeMin, 31vw, $sizeMax);
}

.Stamp-stamp {
  cursor: pointer;
  display: block;

  svg {
    path {
      fill: var(--Stamp-color, var(--text-1000));

      &:first-child, &:nth-last-child(4) {
        fill: none;

        @include mq($until: l) {
          stroke-width: 3px;
        }
      }
    }

    circle {
      &:nth-last-child(3) {
        fill: var(--Stamp-iris, var(--white));
      }
    }
  }
}

.Stamp-overlay {
  background: var(--Stamp-overlay, var(--white));
  border-radius: 50%;
  inset: 0;
  position: absolute;
  transform: scale(0);
}
