.Stamp {
  inset: 0;
  position: absolute;
  z-index: 0;
}

.Stamp-inner {
  inset: 0;
  margin: auto;
  position: absolute;
}

.Stamp-inner, .Stamp-content, .Stamp-svg {
  $sizeMin: rem($space * 12);
  $sizeMax: 27vw;

  height: clamp($sizeMin, calc(#{$sizeMin} + 13vw), $sizeMax);
  width: clamp($sizeMin, calc(#{$sizeMin} + 13vw), $sizeMax);
}

.Stamp-stamp {
  cursor: pointer;
  display: block;

  svg {
    path {
      fill: var(--Stamp-color, var(--primary));

      &:first-child, &:nth-last-child(4) {
        fill: none;

        @include mq($until: l) {
          stroke-width: 4px;
        }
      }
    }

    circle {
      &:nth-last-child(3) {
        fill: var(--Stamp-iris, var(--white));
      }

      // &:nth-last-child(2) {
      //   fill: var(--Stamp-pupil, var(--primary));
      // }

      // &:last-child {
      //   fill: var(--Stamp-glow, var(--white));
      // }
    }
  }
}

.Stamp-overlay {
  background: var(--Stamp-overlayBg, var(--white));
  border-radius: 50%;
  inset: 0;
  position: absolute;
  transform: scale(0);
}
