.LinkRoll {
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

.LinkRoll-text {
  pointer-events: none;
  position: relative;

  &.-hover {
    inset: 0;
    position: absolute;
  }
}

.LinkRoll-char {
  display: inline-block;
  position: relative;

  &.-empty {
    visibility: hidden;
  }
}

/* ======
 * Modifiers
 * ====== */

.LinkRoll {
  &.has-active {
    .LinkRoll-char {
      &:after {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        bottom: rem(2px);
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        transition: opacity $trans-primary;
        width: 100%;
      }
    }
  }

  &.is-active {
    .LinkRoll-char {
      &:after {
        opacity: 1;
      }
    }
  }
}
