/**
 * 1. Fixes odd issue in Chromium where there sometimes seems to be extra text
 *    element under the animating elements
 * 2. To transition the change to underline if the underline is used as
 *    active state (e.g. in Header)
 */
.LinkRoll {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  transition: opacity $trans-primaryFastest;
  will-change: opacity; // [1.]

  &:where(&:hover) {
    opacity: var(--link-hover-opacity);
  }
}

.LinkRoll-text {
  display: inline;
  pointer-events: none;
  position: relative;

  &.-hover {
    inset: 0;
    position: absolute;
  }
}

.LinkRoll-char {
  display: inline-block;
  position: relative;

  &.-empty {
    visibility: hidden;
  }
}

/* ======
 * Modifiers
 * ======  */

.LinkRoll {
  // [2.]
  &.has-underline {
    .LinkRoll-char {
      &:after {
        border-bottom-style: solid;
        border-bottom-width: var(--border-width);
        content: '';
        inset: auto 0 rem(2px) 0;
        opacity: 0;
        position: absolute;
        transition: opacity $trans-primary;
      }
    }
  }

  &.-underline {
    .LinkRoll-char {
      &:after {
        opacity: 1;
      }
    }
  }
}
