@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/**
 * 1. To transition the change into underline if the underline is used as
 *    active state (e.g. in Header)
 */
.LinkRoll {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  transition: opacity var(--trans-primary-fastest);

  &:hover {
    opacity: var(--link-hover-opacity);
  }
}

.LinkRoll-text {
  display: inline;
  pointer-events: none;
  position: relative;

  &.-hover {
    inset: 0;
    position: absolute;
  }
}

.LinkRoll-char {
  display: inline-block;
  position: relative;
}

/* =======================================
 * Variants
 * ======================================= */

.LinkRoll {
  // [1.]
  &.has-underline {
    .LinkRoll-char {
      &:after {
        border-bottom: var(--border-width) solid;
        content: '';
        inset: auto -1px rem($space-4xs) 0;
        opacity: 0;
        position: absolute;
        transition: opacity var(--trans-primary);
      }
    }
  }

  &.-underline {
    .LinkRoll-char {
      &:after {
        opacity: 1;
      }
    }
  }
}
