@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Badge {
  @include text(s);
  align-items: center;
  background: var(--bg-50);
  border: var(--border-width) solid var(--border-950);
  border-radius: var(--border-radius-full);
  color: var(--text-950);
  display: inline-flex;
  flex-shrink: 0;
  gap: rem($space-2xs);
  max-width: 100%;
  min-height: rem($space-m);
  padding: rem($space-5xs) rem($space-xs) 0 rem($space-xs);
  position: relative;
  text-decoration: none;
  user-select: none;
}

.Badge-beacon {
  background: var(--Badge-beacon, var(--primary));
  border-radius: var(--border-radius-full);
  height: rem($space-xs);
  position: relative;
  top: rem($space-4xs * -0.5);
  width: rem($space-xs);
  will-change: transform; // Fix some rounding issues
}

/* =======================================
 * Variants
 * ======================================= */

.Badge--dark {
  background: var(--bg-950);
  color: var(--text-50);
}
