// =======================================
// Config
// =======================================

// =========
// Typography
// =========

$font-size: 16px;
$lineHeight: 24px;

$font-size-xl: 22px;
$lineHeight-xl: 22px;

$font-size-l: 19px;
$lineHeight-l: 22px;

$font-size-s: 15px;
$lineHeight-s: 20px;

$font-size-xs: 13px;
$lineHeight-xs: 20px;

$font-familySans: 'Px Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-familyMono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;
$font-familySerif: serif;
$font-family: $font-familySans;
$font-weight: 400;
$font-weightStrong: bolder;

$heading-fontFamily: inherit;
$heading-fontWeight: 400;
$heading-fontWeightLight: 100;

$h1-fontSizeMin: 32px;
$h1-fontSizeMax: 102px;
$h1-lineHeight: 40px;

$h2-fontSizeMin: 32px;
$h2-fontSizeMax: 48px;
$h2-lineHeight: 34px;

$h3-fontSizeMin: 28px;
$h3-fontSizeMax: 40px;
$h3-lineHeight: 36px;

$h4-fontSizeMin: 24px;
$h4-fontSizeMax: 32px;
$h4-lineHeight: 28px;

$h5-fontSizeMin: 18px;
$h5-fontSizeMax: 24px;
$h5-lineHeight: 28px;

// =========
// Spacing & Sizing
// =========

$space: 16px;
$space-xxs: $space / 3;
$space-xs: $space / 2;
$space-s: $space / 1.5;
$space-m: $space * 1.5;
$space-ml: $space * 2;
$space-l: $space * 2.5;
$space-xl: $space * 3;
$space-xxl: $space * 4;
$space-xxxl: $space * 5;
$space-xxxxl: $space * 6;
$space-xxxxxl: $space * 7;
$space-xxxxxxl: $space * 8;

// =========
// Wrap & Grid settings
// =========

$wrap-spaceLeft: 6.25%;
$wrap-spaceRight: 6.25%;
$wrap-spaceLeft-m: $space-l;
$wrap-spaceRight-m: $space-l;
$wrap-spaceLeft-l: $space-xxl;
$wrap-spaceRight-l: $space-xl;
// $wrap-spaceLeft-l: $space-xl;
// $wrap-spaceRight-l: $space-xl;

$grid-columns: 12;
$grid-gap: $space-m;
$grid-gap-l: $space-xl;

$root-minWidth: 320px;

// =========
// Breakpoints
// =========
//
// Desktop & mobile match w/ locomotive-scroll smooth setting
//

$mq-breakpoints: (
  xxxs: 320px,
  xxs: 360px,
  xs: 480px,
  s: 600px,
  m: 768px,
  ml: 900px,
  l: 1024px,
  xl: 1140px,
  xxl: 1280px,
  xxxl: 1528px,
  xxxxl: 1680px,
  xxxxxl: 1920px,
  xxxxxxl: 2560px,
  xxxxxxxl: 3840px,
  desktop: 1024px,
  mobile: 1023px,
);

// =========
// Various Global Settings
// =========

$border-radius: 0px;
$focus-outlineWidth: 2px;

// =======================================
// Transitions & easings
// =======================================

$ease: cubic-bezier(0.68, 0, 0.1, 1);
$ease-secondary: cubic-bezier(0.87, 0, 0.13, 1);

$trans-primary: 1.3s $ease;
$trans-primaryFast: 0.6s $ease;
$trans-primaryFastest: 0.3s $ease;

$trans-secondary: 1s $ease-secondary;
$trans-secondaryFast: 0.6s $ease-secondary;
$trans-secondaryFastest: 0.3s $ease-secondary;

$ease-outSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-inOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-inQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-inOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-inCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-outCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-inOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-inQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-inQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-outQuint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-inOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-inExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-outExpo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-inOutExpo: cubic-bezier(1, 0, 0, 1);
$ease-inCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-outCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-inOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-inBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-outBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// =======================================
// Z-indexes
// =======================================

$App-zIndex: 1000;
$locomotive-scrollBar-zIndex: 2000;
$nprogress-zIndex: 2000;

$Splash-zIndex: 3000;
$Header-zIndex: 900;
$Header-maskZindex: 800;
$App-mainZindex: 700;
$Footer-zIndex: 0;

// =======================================
// Icon
// =======================================

$Icon-size: 32px;
$Icon-size-s: 24px;

// =======================================
// Button
// =======================================

$Button-borderWidth: 2px;
$Button-fontSize: $font-size-xs;
$Button-lineHeight: $lineHeight-xs;
$Button-fontWeight: $font-weight;
$Button-minHeight: $space-ml;
$Button-spaceY: $space / 1.33;
$Button-spaceX: $space * 1.25;
