// =========
// Typography
// =========

$font-size: 16px;
$line-height: 24px;

$font-size-xl: 22px;
$line-height-xl: 22px;

$font-size-l: 19px;
$line-height-l: 22px;

$font-size-s: 15px;
$line-height-s: 20px;

$font-size-xs: 13px;
$line-height-xs: 20px;

$h1-font-size-min: 40px;
$h1-font-size-max: 102px;
$h1-line-height: 40px;

$h2-font-size-min: 32px;
$h2-font-size-max: 48px;
$h2-line-height: 34px;

$h3-font-size-min: 28px;
$h3-font-size-max: 40px;
$h3-line-height: 36px;

$h4-font-size-min: 24px;
$h4-font-size-max: 32px;
$h4-line-height: 28px;

$h5-font-size-min: 18px;
$h5-font-size-max: 24px;
$h5-line-height: 26px;

$h6-font-size-min: 18px;
$h6-font-size-max: 24px;
$h6-line-height: 26px;

// =========
// Spacing and sizing
// =========

$space: 16px;
$space-xxs: $space * 0.333;
$space-xs: $space * 0.5;
$space-s: $space * 0.666;
$space-m: $space * 1.5;
$space-ml: $space * 2;
$space-l: $space * 2.5;
$space-xl: $space * 3;
$space-2xl: $space * 4;
$space-3xl: $space * 5;
$space-4xl: $space * 6;
$space-5xl: $space * 7;
$space-6xl: $space * 8;

// =========
// Breakpoints
// =========

$breakpoints: (
  xxxs: 320px,
  xxs: 360px,
  xs: 480px,
  s: 600px,
  m: 768px,
  ml: 900px,
  l: 1024px,
  xl: 1140px,
  xxl: 1280px,
  xxxl: 1528px,
  xxxxl: 1680px,
  xxxxxl: 1920px,
  xxxxxxl: 2560px,
  xxxxxxxl: 3840px,
);
