// =======================================
// Config
// =======================================


// =========
// Typography
// =========

$fontSize: 16px;
$lineHeight: 24px;

$fontSize-xl: 24px;
$lineHeight-xl: 32px;

$fontSize-l: 18px;
$lineHeight-l: 26px;

$fontSize-s: 14px;
$lineHeight-s: 20px;

$fontSize-xs: 12px;
$lineHeight-xs: 18px;

$fontFamilySans: 'Px Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$fontFamilyMono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$fontFamilySerif: serif;
$fontFamily: $fontFamilySans;
$fontWeight: 400;
$fontWeightStrong: bolder;

$headingFontFamily: inherit;
$headingFontWeight: 400;

$h1FontSize: 64px;
$h1LineHeight: 68px;
$h2FontSize: 48px;
$h2LineHeight: 56px;
$h3FontSize: 40px;
$h3LineHeight: 48px;
$h4FontSize: 32px;
$h4LineHeight: 40px;
$h5FontSize: 28px;
$h5LineHeight: 36px;
$h6FontSize: 20px;
$h6LineHeight: 24px;


// =========
// Spacing & Sizing
// =========

$space: $lineHeight;
$spaceEdge: 6.25%;
$wrapSpaceEdge: $spaceEdge;
$wrapSpaceEdgeLeft-l: $space * 4;
$wrapSpaceEdgeRight-l: $space * 2;
$wrapWidth: 1280px;
$wrapMaxWidth: $wrapWidth + ($wrapSpaceEdgeLeft-l + $wrapSpaceEdgeRight-l);


// =========
// Breakpoints
// =========

$mq-breakpoints: (
  xxxs: 320px,
  xxs: 360px,
  xs: 480px,
  s:  600px,
  m:  768px,
  ml: 900px,
  l:  1024px,
  xl: 1140px,
  xxl: 1280px,
  xxxl: 1528px,
  wrapWidth: $wrapWidth,
  wrapMaxWidth: $wrapMaxWidth,
);


// =========
// Colors
// =========

// Brand colors
$primary: #4d4dff;

// Base colors
$black: #000000;
$white: #ffffff;

// Background colors
$bgLight: darken(#ffffff, 10);
$bgLighter: darken(#ffffff, 3);
$bgLightest: #ffffff;
$bgDark: $black;

// Text colors
$text: #000000;
$textLight: lighten($text, 30);

// Heading color
$heading: inherit;

// Link colors
$link: #4d4dff;
$linkHover: darken($link, 15%);

// Border colors
$border: rgba(#000000, 0.12);

// State colors
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;


// =========
// Various Global Settings
// =========

$borderRadius: 3px;
$transitionDuration: 0.15s;
