// =======================================
// Config
// =======================================


// =========
// Typography
// =========

$font-size: 16px;
$lineHeight: 24px;

$font-size-xl: 24px;
$lineHeight-xl: 32px;

$font-size-l: 18px;
$lineHeight-l: 26px;

$font-size-s: 14px;
$lineHeight-s: 20px;

$font-size-xs: 12px;
$lineHeight-xs: 18px;

$font-familySans: 'Px Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-familyMono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;
$font-familySerif: serif;
$font-family: $font-familySans;
$font-weight: 400;
$font-weightStrong: bolder;

$heading-fontFamily: inherit;
$heading-fontWeight: 400;
$heading-fontWeightLight: 100;

$h1-fontSize: 104px;
$h1-lineHeight: 112px;
$h2-fontSize: 64px;
$h2-lineHeight: 80px;
$h3-fontSize: 40px;
$h3-lineHeight: 48px;
$h4-fontSize: 30px;
$h4-lineHeight: 36px;
$h5-fontSize: 26px;
$h5-lineHeight: 36px;
$h6-fontSize: 20px;
$h6-lineHeight: 24px;

// =========
// Spacing & Sizing
// =========

$space: 16px;


// =========
// Wrap & Grid settings
// =========

$wrap-spaceLeft: 6.25%;
$wrap-spaceRight: 6.25%;
$wrap-spaceLeft-m: $space * 3;
$wrap-spaceRight-m: $space * 3;
$wrap-spaceLeft-l: $space * 4;
$wrap-spaceRight-l: $space * 2;

$grid-columns: 12;
$grid-gap: $space * 1.5;

$root-minWidth: 320px;


// =========
// Breakpoints
// =========

$mq-breakpoints: (xxxs: 320px,
  xxs: 360px,
  xs: 480px,
  s: 600px,
  m: 768px,
  ml: 900px,
  l: 1024px,
  xl: 1140px,
  xxl: 1280px,
  xxxl: 1528px,
  xxxxl: 1920px,
  xxxxxl: 2560px,
  // wrapWidth: $wrapWidth,
  // wrapMaxWidth: $wrapMaxWidth,
);


// =========
// Colors
// =========

// Brand colors
$primary: #4d4dff;

// Base colors
$black: #000000;
$white: #ffffff;

// Background colors
$bg-700: $black;
$bg-100: darken(#ffffff, 10);
$bg-50: darken(#ffffff, 3);
$bg-10: #ffffff;

// Text colors
$text-700: #000000;
$text-400: lighten($text-700, 30);
$text-10: #ffffff;

// Heading color
$heading: inherit;

// Link colors
$link: #4d4dff;
$link-hover: darken($link, 15%);

// Border colors
$border-700: $black;
$border-500-opaque: rgba($white, 0.12);
$border-500: #323232;
$border-20: rgba(#000000, 0.12);
$border-10: #ffffff;

// State colors
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;


// =========
// Various Global Settings
// =========

$border-radius: 0;
$trans-duration: 1s;
$trans-duration-medium: 0.6s;
$trans-duration-fast: 0.3s;


// =======================================
// Easings
// =======================================

$ease-outSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-inOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-inQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-inOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-inCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-outCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-inOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-inQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-inQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-outQuint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-inOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-inExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-outExpo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-inOutExpo: cubic-bezier(1, 0, 0, 1);
$ease-inCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-outCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-inOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-inBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-outBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);


// =======================================
// Icon
// =======================================

$Icon-size: 32px;


// =======================================
// Button
// =======================================

$Button-borderWidth: 1px;

$Button-fontSize: $font-size-xs;
$Button-lineHeight: $lineHeight-xs;
$Button-fontWeight: $font-weight;
$Button-minHeight: $space * 2;
$Button-spaceY: $space / 1.33;
$Button-spaceX: $space * 1.25;

$Button-fontSize-s: $font-size-xs;
$Button-lineHeight-s: $lineHeight-xs;
$Button-minHeight-s: $space * 2.5;
$Button-spaceY-s: $space / 2;
$Button-spaceX-s: $space;


// =======================================
// Template
// =======================================

$Template-overlayColor: $black;