@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

:root {
  /* =======================================
   * Color tokens
   * ======================================= */

  // Base
  --black: #000000;
  --black-transparent: #0000;
  --white: #ffffff;

  // Tone
  --tone-50: #eeeae5;

  // Background
  --bg-900: var(--black);
  --bg-800: #111111;
  --bg-100: #f2f2f2;
  --bg-50: var(--white);

  --bg-gray-100-opaque-alpha: 0.15;
  --bg-gray-100-opaque: rgba(0, 0, 0, var(--bg-gray-100-opaque-alpha));
  --bg-gray-50-opaque-alpha: 0.06;
  --bg-gray-50-opaque: rgba(0, 0, 0, var(--bg-gray-50-opaque-alpha));

  // Text
  --text-900: #111111;
  --text-800: #111111;
  --text-50: var(--white);
  --text-mute: #5e5e5e;

  // Heading
  --heading: inherit;

  // Link
  --link: var(--text-900);
  --link-hover-opacity: 0.6;

  // Focus
  --focus-visible-bg: var(--bg-900);
  --focus-visible-fg: var(--text-50);

  // Border
  --border-900: var(--black);
  --border-800: #333333;
  --border-700: #4d4d4d;
  --border-100: #e0e0e0;
  --border-50: var(--white);
  --hr: var(--black);

  /* =======================================
   * Base tokens
   * ======================================= */

  // Base
  --root-min-width: 320px;
  --slow-network-delay: 1s;
  --vh: 100vh;

  // Typography
  --font-family-sans: 'Px Grotesk', sans-serif;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-weight-700: bolder;
  --font-weight-400: 400;

  --heading-font-weight: var(--font-weight-400);
  --heading-font-weight-100: 100;

  // Wrap
  --wrap-space-left: 6.25%;
  --wrap-space-right: 6.25%;

  // Grid
  --grid-gap-scale: 5vw;
  --grid-gap-m: #{rem($space-m)};
  --grid-gap-l: #{rem($space-xl)};
  --grid-gap-xl: #{rem($space-2xl)};

  // Border
  --border-width-negative: -1px;
  --border-width: 1px;
  --border-width-l: 2px;
  --border-radius: 8px;
  --border-radius-l: 16px;
  --border-radius-pill: 999px;
  --border-width-thin: 0.5px;

  // Transitions & Easings
  --ease: cubic-bezier(0.68, 0, 0.1, 1);
  --ease-secondary: cubic-bezier(0.87, 0, 0.13, 1);

  --trans-primary: 1.3s var(--ease);
  --trans-primary-fast: 0.6s var(--ease);
  --trans-primary-fastest: 0.3s var(--ease);

  --trans-secondary: 1s var(--ease-secondary);
  --trans-secondary-fast: 0.6s var(--ease-secondary);
  --trans-secondary-fastest: 0.3s var(--ease-secondary);

  // Icon
  --icon-size-l: #{rem(32px)};

  // Scrollbar
  --scrollbar-thumb: #{rgba(#000, 0.2)};
  --scrollbar-thumb-negative: #{rgba(#fff, 0.15)};

  // Z index
  --z-index-900: 900;
  --z-index-800: 800;
  --z-index-700: 700;

  /* =======================================
   * Media queries
   * ======================================= */

  @include mq(m) {
    --wrap-space-left: #{rem($space-l)};
    --wrap-space-right: #{rem($space-l)};
  }

  @include mq(l) {
    --wrap-space-left: #{rem($space-2xl)};
    --wrap-space-right: #{rem($space-xl)};
  }

  @include mq('4xl') {
    --border-width-l: 3px;
  }
}
