:root {
  // =========
  // Colors
  // =========

  // Base
  --black: #000;
  --black-transparent: #0000;
  --white: #fff;

  // Brand
  --cream-200: #d6cfc6;
  --cream-100: #eae1d6;
  --cream-50: #f6eee3;

  // Background
  --bg-1000: var(--black);
  --bg-900: #111;
  --bg-100: #{darken(#fff, 5)};
  --bg-50: var(--white);

  --bg-gray-100-opaque-alpha: 0.15;
  --bg-gray-100-opaque: rgba(0, 0, 0, var(--bg-gray-100-opaque-alpha));
  --bg-gray-50-opaque-alpha: 0.06;
  --bg-gray-50-opaque: rgba(0, 0, 0, var(--bg-gray-50-opaque-alpha));

  // Text
  --text-1000: #111;
  --text-900: #111;
  --text-50: var(--white);
  --text-muted: #5e5e5e;

  // Heading
  --heading: inherit;

  // Link
  --link: var(--text-1000);
  --link-hover-opacity: 0.6;

  // Border
  --border-1000: var(--black);
  --border-900: #333333;
  --border-800: #4d4d4d;
  --border-100: #{darken(#fff, 12)};
  --hr: var(--black);

  // Root
  --root-bg: var(--bg-1000);

  // Wrap
  --wrap-spaceLeft: #{$wrap-spaceLeft};
  --wrap-spaceRight: #{$wrap-spaceRight};

  // =========
  // Other tokens
  // =========

  // Border
  --border-width: 0.5px;
  --border-radius: 8px;

  // Root
  --root-minWidth: #{$root-minWidth};
  --vh: 100vh;

  // =========
  // Oras
  // =========

  --oras-bg: var(--white);
  --oras-heading: var(--black);
  --oras-primary: #eb1414;

  --oras-Hero-figure-bg: var(--black);
  --oras-Hero-figure-bg-alpha: var(--bg-gray-100-opaque-alpha);
  --oras-Hero-figure-bg-rgb: 0, 0, 0;
  --oras-Hero-figure-preTransitionBgAlpha: var(--bg-gray-50-opaque-alpha);

  // =========
  // Biocode
  // =========

  --biocode-bg-200: #001141;
  --biocode-bg-100: #000a29;
  --biocode-bg-50: #00081F; // #{darken(#00081F, 1)};

  --biocode-border-300: #445688;
  --biocode-border-200: #{rgba(#586DBB, 0.23)}; // #26355d;
  --biocode-border-100: #{rgba(#586DBB, 0.12)}; // #152043;

  --biocode-heading: var(--white);

  --biocode-primary: #3757f9;
  --biocode-primary-text: #3374ff;

  --biocode-text-1000: var(--white);
  --biocode-text-900: #a3abc2;
  --biocode-text-muted: #858fad;

  // =========
  // MQ
  // =========

  @include mq(m) {
    --wrap-spaceLeft: #{rem($wrap-spaceLeft-m)};
    --wrap-spaceRight: #{rem($wrap-spaceRight-m)};
  }

  @include mq(l) {
    --wrap-spaceLeft: #{rem($wrap-spaceLeft-l)};
    --wrap-spaceRight: #{rem($wrap-spaceRight-l)};
  }
}

.theme\:light {
  --biocode-border-300: #26355d;
  --biocode-border-200: #d9dade;
  --biocode-border-100: #e6e7ea;
  --biocode-bg-300: #e7e7e9;
  --biocode-bg-200: #f7f7f8;
  --biocode-bg-100: #fbfbfc;
  --biocode-bg-50: var(--white);
}
