:root {
  // Base
  --black: #000;
  --white: #fff;

  // Brand
  --cream-200: #d6cfc6;
  --cream-100: #eae1d6;
  --cream-50: #f6eee3;

  // Background
  --bg-1000: var(--black);
  --bg-900: #111;
  --bg-50: var(--white);

  --bg-gray-100-opaque-alpha: 0.15;
  --bg-gray-100-opaque: rgba(0, 0, 0, var(--bg-gray-100-opaque-alpha));
  --bg-gray-50-opaque-alpha: 0.06;
  --bg-gray-50-opaque: rgba(0, 0, 0, var(--bg-gray-50-opaque-alpha));

  // Text
  --text-1000: #111;
  --text-900: #111;
  --text-50: var(--white);
  --text-muted: #5e5e5e;

  // Heading
  --heading: inherit;

  // Link
  --link: var(--text-1000);
  --link-hover-opacity: 0.6;

  // Border
  --border-1000: var(--black);
  --border-900: #333333;
  --border-800: #4d4d4d;

  // Root
  --root-bg: var(--bg-1000);
  --root-minWidth: #{$root-minWidth};
  --vh: 100vh;

  // Wrap
  --wrap-spaceLeft: #{$wrap-spaceLeft};
  --wrap-spaceRight: #{$wrap-spaceRight};

  // =========
  // Oras
  // =========

  --oras-bg: var(--white);
  --oras-heading: var(--black);
  --oras-primary: #eb1414;

  --oras-Hero-figureBg: var(--black);
  --oras-Hero-figureBgAlpha: var(--bg-gray-100-opaque-alpha);
  --oras-Hero-figureBgRgb: 0, 0, 0;
  --oras-Hero-figurePreTransitionBgAlpha: var(--bg-gray-50-opaque-alpha);

  // =========
  // Biocode
  // =========

  --biocode-bg-1000: #00081F;
  --biocode-bg-900: #001141;
  --biocode-bg: var(--biocode-bg-1000);
  --biocode-border-1000: #26355d;
  --biocode-heading: var(--white);
  --biocode-primary-text: #3374ff;
  --biocode-primary: #3757f9;
  --biocode-text-1000: var(--white);
  --biocode-text-900: #a3abc2;
  --biocode-text-muted: #858fad;

  // =========
  // MQ
  // =========

  @include mq(m) {
    --wrap-spaceLeft: #{rem($wrap-spaceLeft-m)};
    --wrap-spaceRight: #{rem($wrap-spaceRight-m)};
  }

  @include mq(l) {
    --wrap-spaceLeft: #{rem($wrap-spaceLeft-l)};
    --wrap-spaceRight: #{rem($wrap-spaceRight-l)};
  }
}
