@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

:root {
  /* =======================================
   * Primitive color tokens
   * ======================================= */

  // Generic
  --black: #000000;
  --black-transparent: #0000;
  --white: #ffffff;

  // Gray
  --gray-50: #f2f2f2;
  --gray-100: #e0e0e0;
  --gray-300: #b7b7b7;
  --gray-600: #5e5e5e;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #111111;
  --gray-950: var(--black);

  --gray-50-opaque-alpha: 0.06;
  --gray-50-opaque: rgba(0, 0, 0, var(--gray-50-opaque-alpha));
  --gray-100-opaque-alpha: 0.15;
  --gray-100-opaque: rgba(0, 0, 0, var(--gray-100-opaque-alpha));

  // Slate
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  /* =======================================
   * Semantic tokens
   * ======================================= */

  // Background
  --bg-50: var(--white);
  --bg-100: var(--slate-50);
  --bg-200: var(--slate-100);
  --bg-800: var(--gray-900);
  --bg-900: var(--gray-950);

  // Border
  --border-50: var(--white);
  --border-100: var(--slate-200);
  --border-700: var(--gray-700);
  --border-800: var(--gray-800);
  --border-900: var(--gray-950);

  --border-width-s: 0.5px;
  --border-width-m: 1px;
  --border-width-l: 2px;
  --border-width-negative: -1px;
  --border-width: var(--border-width-m);

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;
  --border-radius-pill: 999px;
  --border-radius: var(--border-radius-m);

  // Accent
  --accent-1: #ff6a00;
  --accent-2: #2300ff;
  --accent-3: #f59e0b;

  // Primary
  --primary: var(--accent-1);

  // Tone
  --tone-50: #eeeae5;

  // Text
  --text-50: var(--white);
  --text-700: var(--slate-600);
  --text-800: var(--gray-900);
  --text-900: var(--gray-900);

  // Heading
  --heading: inherit;
  --heading-font-weight: var(--font-weight-400);

  // Link
  --link: var(--text-900);
  --link-hover-opacity: 0.6;

  // Focus
  --focus-visible-bg: var(--bg-900);
  --focus-visible-fg: var(--text-50);

  // Shadow
  --shadow: 0 0 0 1px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.1);

  // Scrollbar
  --scrollbar-thumb: #{rgba(#94a3b8, 0.35)};
  --scrollbar-thumb-negative: #{rgba(#ffffff, 0.15)};

  // Transitions & Easings
  --ease: cubic-bezier(0.68, 0, 0.1, 1);
  --ease-secondary: cubic-bezier(0.87, 0, 0.13, 1);

  --trans-primary-fastest: 0.3s var(--ease);
  --trans-primary-fast: 0.6s var(--ease);
  --trans-primary: 1.3s var(--ease);

  --trans-secondary-fastest: 0.3s var(--ease-secondary);
  --trans-secondary-fast: 0.6s var(--ease-secondary);
  --trans-secondary: 1s var(--ease-secondary);

  // Wrap
  --wrap-space-left: 6.25%;
  --wrap-space-right: 6.25%;

  // Grid
  --grid-gap-scale: 5vw;
  --grid-gap-m: #{rem($space-m)};
  --grid-gap-l: #{rem($space-xl)};
  --grid-gap-xl: #{rem($space-2xl)};

  /* =======================================
   * Generic tokens
   * ======================================= */

  // Base
  --root-min-width: 320px;
  --slow-network-delay: 1s;
  --vh: 100vh;

  // Typography
  --font-family-sans: 'Px Grotesk', sans-serif;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-weight-400: 400;
  --font-weight-100: 100;

  // Z index
  --z-index-700: 700;
  --z-index-800: 800;
  --z-index-900: 900;

  /* =======================================
   * Media queries
   * ======================================= */

  @include mq(m) {
    --wrap-space-left: #{rem($space-l)};
    --wrap-space-right: #{rem($space-l)};
  }

  @include mq(l) {
    --wrap-space-left: #{rem($space-2xl)};
    --wrap-space-right: #{rem($space-xl)};
  }

  @include mq('4xl') {
    --border-width-m: 2px;
    --border-width-l: 3px;
  }
}
