@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

:root {
  /* =======================================
   * Primitive color tokens
   * ======================================= */

  // Generic
  --black-hsl: 0 0% 0%;
  --black: hsl(var(--black-hsl));
  --black-transparent: hsl(var(--black-hsl) / 0);
  --white-hsl: 0 0% 100%;
  --white: hsl(var(--white-hsl));

  // Gray
  --gray-50: #fbfbfb;
  --gray-100: #f7f7f7;
  --gray-100-translucent: hsl(var(--black-hsl) / 0.04);
  --gray-200: #e5e5e5;
  --gray-300: #d3d3d3;
  --gray-400: #b7b7b7;
  --gray-500: #999999;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #1a1a1a;
  --gray-900: #111111;
  --gray-950: var(--black);

  // Slate
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  /* =======================================
   * Semantic tokens
   * ======================================= */

  // Background
  --bg-50: var(--white);
  --bg-100: var(--gray-50);
  --bg-200: var(--gray-100);
  --bg-300: var(--gray-200);
  --bg-800: var(--gray-800);
  --bg-900: var(--gray-900);
  --bg-950: var(--gray-950);

  // Border
  --border-50: var(--white);
  --border-100: var(--gray-200);
  --border-200: var(--gray-300);
  --border-800: var(--gray-700);
  --border-900: var(--gray-800);
  --border-950: var(--gray-950);

  --border-width-s: 0.5px;
  --border-width-m: 1px;
  --border-width-l: 2px;
  --border-width-dashed: 1.5px;
  --border-width-negative: -1px;
  --border-width: var(--border-width-m);

  --border-radius-m: 8px;
  --border-radius-l: 16px;
  --border-radius-full: 999px;
  --border-radius-app: 4px 4px var(--border-radius-m) var(--border-radius-m);
  --border-radius: var(--border-radius-m);

  // Accent
  --accent-1-hsl: 25 100% 50%;
  --accent-1: hsl(var(--accent-1-hsl));
  --accent-1-blend: #0098ff;
  --accent-2: #2300ff;
  --accent-3: #f59e0b;
  --accent-4-hsl: 288 100% 50%;
  --accent-4: hsl(var(--accent-4-hsl));

  // Primary
  --primary-hsl: var(--accent-1-hsl);
  --primary: hsl(var(--primary-hsl));
  --primary-blend: var(--accent-1-blend);

  // Tone
  --tone-50: #eeeae5;
  --tone-100: #e4ded6;

  // Text
  --text-50: var(--white);
  --text-100: var(--gray-400);
  --text-900-blend: hsl(var(--white-hsl) / 0.6);
  --text-900: var(--gray-600);
  --text-950: var(--gray-900);
  --text-max-width: 56ch;

  // Heading
  --heading: inherit;
  --heading-font-weight: var(--font-weight-400);
  --heading-max-width: 30ch;

  // Link
  --link: var(--text-950);
  --link-hover-opacity: 0.6;

  // Focus
  --focus-visible-bg: var(--bg-950);
  --focus-visible-bg-blend: var(--white);
  --focus-visible-fg: var(--text-50);
  --focus-visible-fg-blend: var(--gray-900);

  // Shadow
  --shadow: 0 0 0 1px hsl(var(--black-hsl) / 0.07),
    0 2px 2px hsl(var(--black-hsl) / 0.1);
  --shadow-hover: 0 0 0 1px hsl(var(--black-hsl) / 0.14),
    0 2px 2px hsl(var(--black-hsl) / 0.17);
  --shadow-dark: 0 0 0 1px hsl(var(--white-hsl) / 0.08),
    0 2px 2px hsl(var(--black-hsl) / 1);
  --shadow-dark-hover: 0 0 0 1px hsl(var(--white-hsl) / 0.14),
    0 2px 2px hsl(var(--black-hsl) / 1);

  // Scrollbar
  --scrollbar-thumb: hsl(var(--black-hsl) / 0.15);
  --scrollbar-thumb-dark: hsl(var(--white-hsl) / 0.15);

  // Selection
  --selection-bg: var(--bg-950);
  --selection-fg: var(--text-50);

  // Transitions & Easings
  --ease: cubic-bezier(0.68, 0, 0.1, 1);
  --ease-secondary: cubic-bezier(0.87, 0, 0.13, 1);

  --trans-primary-fastest: 0.3s var(--ease);
  --trans-primary-fast: 0.6s var(--ease);
  --trans-primary: 1.3s var(--ease);

  --trans-secondary-fastest: 0.3s var(--ease-secondary);
  --trans-secondary-fast: 0.6s var(--ease-secondary);
  --trans-secondary: 1s var(--ease-secondary);

  // Wrap
  --wrap-space-left: max(env(safe-area-inset-left), 6.25%);
  --wrap-space-right: max(env(safe-area-inset-right), 6.25%);

  // Grid
  --grid-gap-m: #{rem($space-m)};
  --grid-gap-l: #{rem($space-m)};
  --grid-gap-row-l: #{rem($space-ml)};

  /* =======================================
   * Generic tokens
   * ======================================= */

  // Base
  --root-min-width: 320px;
  --slow-network-delay: 1s;

  // Typography
  --font-family-sans: 'Px Grotesk', ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-weight-400: 400;
  --font-weight-100: 100;

  // Z index
  --z-index-700: 700;
  --z-index-800: 800;
  --z-index-900: 900;
  --z-index-950: 950;

  /* =======================================
   * Media queries
   * ======================================= */

  @include mq(m) {
    --grid-gap-m: #{rem($space-ml)};
    --grid-gap-l: #{rem($space-l)};
    --grid-gap-row-l: #{rem($space-l)};

    --border-radius-app: var(--border-radius-m);

    --wrap-space-left: max(env(safe-area-inset-left), #{rem($space-l)});
    --wrap-space-right: max(env(safe-area-inset-right), #{rem($space-l)});
  }

  @include mq(l) {
    --border-width-dashed: 2.5px;

    --wrap-space-left: max(env(safe-area-inset-left), #{rem($space-xl)});
    --wrap-space-right: max(env(safe-area-inset-right), #{rem($space-xl)});
  }

  @include mq(xl) {
    --grid-gap-l: #{rem($space-2xl)};
    --grid-gap-row-l: #{rem($space-2xl)};
  }

  @include mq('3xl') {
    --wrap-space-left: max(env(safe-area-inset-left), #{rem($space-2xl)});
  }
}
