.Footer {
  --link: var(--white);
  background-color: var(--Footer-bg-color, var(--Template-bg-color, var(--bg-50)));
  color: var(--white);
  padding-bottom: rem($space-l);

  @include mq($until: m) {
    @include text(s);
  }

  @include mq(m) {
    padding-bottom: rem($space-xxxxl);
  }
}

.Footer-inner {
  border-top: 1px solid var(--Footer-border-color, var(--border-1000));
}

.Footer-main {
  align-items: flex-end;
  display: flex;
  mix-blend-mode: difference;
  padding-top: rem($space-xl);

  @include mq(m) {
    padding-top: rem($space-xxl);
  }
}

.Footer-links {
  display: flex;
  flex-direction: column;
  gap: rem($space * 0.125);

  @include mq(m) {
    flex-direction: row;
    gap: rem($space-xs);
  }
}

.Footer-copyright {
  margin: 0 0 0 auto;
  text-align: right;
}
