@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Footer {
  --focus-visible-bg: var(--bg-50);
  --focus-visible-fg: var(--text-900);
  --link: var(--text-50);

  background: var(--Footer-bg-color, var(--Template-bg-color, var(--bg-50)));
  color: var(--text-50);
  padding-bottom: rem($space-l);

  // See _Header.scss
  .is-windows & {
    .LinkRoll-char,
    .Footer-copyright {
      background: var(--bg-50);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  a {
    &:focus-visible {
      @at-root .is-windows & {
        .LinkRoll-char {
          -webkit-text-fill-color: var(--focus-visible-fg);
        }
      }
    }
  }

  @include mq($until: m) {
    @include text(s);
  }

  @include mq(m) {
    padding-bottom: rem($space-4xl);
  }
}

.Footer-inner {
  border-top: var(--border-width) solid
    var(--Footer-border-color, var(--border-900));
}

.Footer-main {
  align-items: flex-end;
  display: flex;
  mix-blend-mode: difference;
  padding-top: rem($space-xl);

  @include mq(m) {
    padding-top: rem($space-2xl);
  }
}

.Footer-links {
  display: flex;
  flex-direction: column;
  gap: rem($space-4xs);

  @include mq(m) {
    flex-direction: row;
    gap: rem($space-xs);
  }
}

.Footer-copyright {
  margin: 0 0 0 auto;
  text-align: right;
}
