@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/**
 * 1. See _Header.scss
 */
.Footer {
  --link: var(--white);
  background-color: var(--Footer-bg-color, var(--Template-bg-color, var(--bg-50)));
  color: var(--white);
  padding-bottom: rem($space-l);

  // [1.]
  .is-windows & {
    .LinkRoll-char,
    .Footer-copyright {
      background: var(--white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  a {
    &:focus-visible {
      @at-root .is-windows & {
        .LinkRoll-char {
          -webkit-text-fill-color: var(--black);
        }
      }
      
      background-color: var(--white);
      color: var(--black);
    }
  }

  @include mq($until: m) {
    @include text(s);
  }

  @include mq(m) {
    padding-bottom: rem($space-4xl);
  }
}

.Footer-inner {
  border-top: 1px solid var(--Footer-border-color, var(--border-900));
}

.Footer-main {
  align-items: flex-end;
  display: flex;
  mix-blend-mode: difference;
  padding-top: rem($space-xl);

  @include mq(m) {
    padding-top: rem($space-2xl);
  }
}

.Footer-links {
  display: flex;
  flex-direction: column;
  gap: rem($space * 0.125);

  @include mq(m) {
    flex-direction: row;
    gap: rem($space-xs);
  }
}

.Footer-copyright {
  margin: 0 0 0 auto;
  text-align: right;
}
