@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Footer {
  --focus-visible-bg: var(--focus-visible-bg-blend);
  --focus-visible-fg: var(--focus-visible-fg-blend);
  --link: var(--text-50);

  --Badge-bg: var(--bg-950);
  --Badge-beacon: var(--primary-blend);
  --Badge-border: var(--border-50);
  --Badge-text: var(--text-50);

  background: var(--Footer-bg, var(--Template-bg, var(--bg-50)));
  color: var(--text-50);
  user-select: none;

  // See Header.scss
  .is-windows & {
    font-weight: var(--font-weight-100);
  }
}

.Footer-inner {
  border-top: var(--border-width) solid var(--Footer-border, var(--border-950));
}

.Footer-main {
  display: flex;
  flex-direction: column;
  gap: rem($space-xl);
  mix-blend-mode: difference;
  padding-bottom: rem($space-l);
  padding-top: rem($space-l);

  @include mq(l) {
    padding-bottom: rem($space-xl);
    padding-top: rem($space-2xl);
  }
}

.Footer-nameCol {
  order: -1;

  @include mq(l) {
    order: unset;
    text-align: right;
  }
}

.Footer-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Footer-bottom-updated {
  --link: var(--text-900-blend);
  --link-hover-opacity: 1;
  --link-hover: var(--text-50);
}

/* =======================================
 * Variants
 * ======================================= */

.Footer {
  &.-width\:full {
    border-top: var(--border-width) solid
      var(--Footer-border, var(--border-950));

    .Footer-inner {
      border-top: 0;
    }
  }
}
