@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Footer {
  --focus-visible-bg: var(--bg-50);
  --focus-visible-fg: var(--text-900);
  --link: var(--text-50);

  background: var(--Footer-bg-color, var(--Template-bg-color, var(--bg-50)));
  color: var(--text-50);

  // See Header.scss
  .is-windows & {
    font-weight: var(--font-weight-100);
  }

  @include mq($until: m) {
    @include text(s);
  }
}

.Footer-inner {
  border-top: var(--border-width) solid
    var(--Footer-border-color, var(--border-900));
}

.Footer-main {
  align-items: flex-end;
  display: flex;
  mix-blend-mode: difference;
  padding-bottom: rem($space-l);
  padding-top: rem($space-xl);

  @include mq(m) {
    align-items: center;
    padding-bottom: rem($space-xl);
    padding-top: rem($space-xl);
  }
}

.Footer-links {
  display: flex;
  flex-direction: column;
  gap: rem($space-4xs);

  @include mq(m) {
    flex-direction: row;
    gap: rem($space-xs);
  }
}

.Footer-text {
  margin: 0 0 0 auto;
  text-align: right;
}
