/* =======================================
 * Oras hero
 * ======================================= */

.Oras-hero {
  height: 100vh;
  min-height: rem($space * 40);
  max-height: rem($space * 45);
  // max-height: 70vw;
  position: relative;
  width: 100vw;
}

.Oras-hero-wrap {
  position: absolute;
  z-index: 2;
}

.Oras-hero-wrap--bg {
  z-index: 0;
}

.Oras-hero-figure {
  height: 35vw;
  position: relative;
}

.Oras-hero-figure-img {
  margin-left: -10vw;
  min-width: 140%;
  top: 10vw;
  position: absolute;
  display: block;
  transform: translateZ(0);
  margin-bottom: 0;
}

.Oras-hero-figure-bg {
  background: linear-gradient(180deg, #E9E9E9 0%, rgba(233, 233, 233, 0) 100%);
  height: 100vh;
  margin-left: -5%;
  width: 100%;
  z-index: 0;
  
  .Oras-hero.-preAnimation & {
    height: 110%;
  }
}

.Oras-hero-drop {
  mix-blend-mode: darken;
  position: absolute;
  height: auto;
  max-width: rem($space * 18);

  &.-drop--1 {
    left: 15vw;
    top: 23%;
    width: rem($space * 7);
  }

  &.-drop--2 {
    left: 35vw;
    top: 75%;
    width: rem($space * 5);
  }

  &.-drop--3 {
    left: rem($space * -2.25);
    top: rem($space * -3);
    width: rem($space * 6);
  }
}

.Oras-hero-headline {
  @include fontSizeFluid($h6FontSize, 520px, $lineHeight, $h1LineHeight);
  bottom: 0;
  bottom: 0;
  height: 25%;
  align-items: flex-end;
  display: flex;
  left: rem($space * -1.5);
  margin: 0;
  font-weight: $headingFontWeightLight;
  white-space: nowrap;
  margin-left: var(--wrap-spaceLeft);
  position: absolute;
  transform: translate3d(0, -200%,0);
  z-index: 1;

  .Oras-hero.-preAnimation & {
    transform: translate3d(0,0,0);
  }
}

.Oras-hero-headline-inner {
  
}