@use 'stylesheets/mixins' as *;

/**
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.hideVisually {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* =======================================
 * Display visibility helper
 * ======================================= */

@include mq(m) {
  .hidden\@m {
    display: none !important;
  }
}

@include mq($until: m) {
  .visible\@m {
    display: none !important;
  }
}

@include mq(l) {
  .hidden\@l {
    display: none !important;
  }
}

@include mq($until: l) {
  .visible\@l {
    display: none !important;
  }
}

.hidden\@m\:max\@l {
  @include mq($from: m, $until: l) {
    display: none !important;
  }
}
