@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--heading);
  font-family: inherit;
  font-weight: var(--heading-font-weight);
  text-wrap: balance;
}

.h1 {
  @include fontSize($h1-font-size-min, $h1-line-height, $h1-font-size-max);
  letter-spacing: -0.015em;
  margin: 0 0 rem($space-m);
}

.h2 {
  @include fontSize($h2-font-size-min, $h2-line-height, $h2-font-size-max);
  letter-spacing: -0.015em;
  margin: 0 0 rem($space-m);
}

.h3 {
  @include fontSize($h3-font-size-min, $h3-line-height, $h3-font-size-max);
  letter-spacing: -0.015em;
  margin: 0 0 rem($space);
}

.h4 {
  @include fontSize($h4-font-size-min, $h4-line-height, $h4-font-size-max);
  letter-spacing: normal;
  margin: 0 0 rem($space);
}

.h5 {
  @include fontSize($h5-font-size-min, $h5-line-height, $h5-font-size-max);
  letter-spacing: normal;
  margin: 0 0 rem($space);
}

.h6 {
  @include fontSize($h6-font-size-min, $h6-line-height, $h6-font-size-max);
  letter-spacing: normal;
  margin: 0 0 rem($space);
}
