@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/* =======================================
 * Margin top
 * ======================================= */

.mt\:0 {
  margin-top: 0;

  @include mq(m) {
    &\@m {
      margin-top: 0;
    }
  }
}

.mt\:xs {
  margin-top: rem($space-xs);
}

.mt\:ml {
  margin-top: rem($space-ml);
}

.mt\:-2xl {
  @include mq(m) {
    &\@m {
      margin-top: rem($space-2xl * -1);
    }
  }
}

.mt\:2xl {
  margin-top: rem($space-2xl);

  @include mq(l) {
    &\@l {
      margin-top: rem($space-2xl);
    }
  }
}

.mt\:-6xl {
  margin-top: rem($space-6xl * -1);

  @include mq(l) {
    &\@l {
      margin-top: rem($space-6xl * -1);
    }
  }
}

.mt\:6xl {
  margin-top: rem($space-6xl);
}

.mt\:auto {
  margin-top: auto;
}

/* =======================================
 * Margin right
 * ======================================= */

.mr\:auto {
  margin-right: auto;
}

/* =======================================
 * Margin bottom
 * ======================================= */

.mb\:0 {
  margin-bottom: 0;

  @include mq(m) {
    &\@m {
      margin-bottom: 0;
    }
  }
}

.mb\:2xs {
  margin-bottom: rem($space-2xs);
}

.mb\:xs {
  margin-bottom: rem($space-xs);
}

.mb\:s {
  margin-bottom: rem($space-s);
}

.mb {
  margin-bottom: rem($space);

  @include mq(m) {
    &\@m {
      margin-bottom: rem($space);
    }
  }
}

.mb\:m {
  margin-bottom: rem($space-m);
}

.mb\:ml {
  margin-bottom: rem($space-ml);

  @include mq(m) {
    &\@m {
      margin-bottom: rem($space-ml);
    }
  }
}

.mb\:l {
  margin-bottom: rem($space-l);

  @include mq(l) {
    &\@l {
      margin-bottom: rem($space-l);
    }
  }
}

.mb\:xl {
  margin-bottom: rem($space-xl);

  @include mq(s) {
    &\@s {
      margin-bottom: rem($space-xl);
    }
  }
}

.mb\:2xl {
  margin-bottom: rem($space-2xl);

  @include mq(l) {
    &\@l {
      margin-bottom: rem($space-2xl);
    }
  }
}

/* =======================================
 * Margin left
 * ======================================= */

.ml\:s {
  margin-left: rem($space-s);
}

.ml {
  margin-left: rem($space);

  @include mq(l) {
    &\@l {
      margin-left: rem($space);
    }
  }
}

.ml\:auto {
  margin-left: auto;
}
