@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/* =======================================
 * Margin top
 * ======================================= */

.mt\:s {
  margin-top: rem($space-s);

  @include mq(s) {
    &\@s {
      margin-top: rem($space-s);
    }
  }
}

.mt\:xl {
  margin-top: rem($space-xl);
}

/* =======================================
 * Margin bottom
 * ======================================= */

.mb\:0 {
  margin-bottom: 0;

  @include mq($until: l) {
    &\@until\:l {
      margin-bottom: 0;
    }
  }
}

.mb\:2xs {
  margin-bottom: rem($space-2xs);
}

.mb {
  margin-bottom: rem($space);
}

.mb\:m {
  margin-bottom: rem($space-m);
}

.mb\:l {
  margin-bottom: rem($space-l);
}

.mb\:xl {
  margin-bottom: rem($space-xl);
}
