@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/* =======================================
 * Padding top
 * ======================================= */

.pt {
  padding-top: rem($space);
}

.pt\:m {
  padding-top: rem($space-m);
}

.pt\:l {
  padding-top: rem($space-l);
}

.pt\:2xl {
  padding-top: rem($space-2xl);

  @include mq(l) {
    &\@l {
      padding-top: rem($space-2xl);
    }
  }
}

.pt\:5xl {
  padding-top: rem($space-5xl);

  @include mq(m) {
    &\@m {
      padding-top: rem($space-5xl);
    }
  }

  @include mq(l) {
    &\@l {
      padding-top: rem($space-5xl);
    }
  }
}

.pt\:grid-gap-row-l {
  padding-top: var(--grid-gap-row-l);
}

/* =======================================
 * Padding right
 * ======================================= */

.pr\:0 {
  padding-right: 0;
}

/* =======================================
 * Padding bottom
 * ======================================= */

.pb\:2xl {
  padding-bottom: rem($space-2xl);

  @include mq(l) {
    &\@l {
      padding-bottom: rem($space-2xl);
    }
  }
}

.pb\:5xl {
  padding-bottom: rem($space-5xl);

  @include mq(l) {
    &\@l {
      padding-bottom: rem($space-5xl);
    }
  }
}

/* =======================================
 * Padding left
 * ======================================= */

.pl\:0 {
  padding-left: 0;

  @include mq($until: l) {
    &\@max\:l {
      padding-left: 0;
    }
  }
}

.pl {
  padding-left: rem($space);
}
