@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

/* =======================================
 * Padding
 * ======================================= */

.p\:0 {
  padding: 0;
}

/* =======================================
 * Padding top
 * ======================================= */

.pt\:5vw {
  padding-top: 5vw;
}

.pt\:10vw {
  padding-top: 10vw;
}

.pt\:15vw {
  padding-top: 15vw;
}

.pt\:20vw {
  padding-top: 20vw;
}

.pt\:l {
  padding-top: rem($space-l);
}

.pt\:2xl {
  padding-top: rem($space-2xl);

  @include mq(m) {
    &\@m {
      padding-top: rem($space-2xl);
    }
  }
}

/* =======================================
 * Padding bottom
 * ======================================= */

.pb\:5vw {
  padding-bottom: 5vw;
}

.pb\:10vw {
  padding-bottom: 10vw;
}

.pb\:15vw {
  padding-bottom: 15vw;
}

.pb\:2xl {
  padding-bottom: rem($space-2xl);
}

/* =======================================
 * Padding right
 * ======================================= */

.pr\:0 {
  padding-right: 0;
}

/* =======================================
 * Padding left
 * ======================================= */

.pl\:0 {
  padding-left: 0;

  @include mq($until: l) {
    &\@until\:l {
      padding-left: 0;
    }
  }
}
