@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: var(--scrollbar-overflow, auto);
  overscroll-behavior: contain;
  scrollbar-color: var(--scrollbar-thumb) transparent;
  scrollbar-width: thin;

  &.-dark {
    --scrollbar-thumb: var(--scrollbar-thumb-dark);
  }
}

.scrollbar::-webkit-scrollbar {
  background: transparent;
  height: 6px;
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--border-radius-pill);
}
