@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.reset {
  all: unset;
}

.white-space\:nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;

  @include mq(m) {
    &\@m {
      display: flex;
    }
  }
}

.justify-content\:end {
  justify-content: end;

  @include mq(m) {
    &\@m {
      justify-content: end;
    }
  }
}

.justify-content\:center {
  justify-content: center;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.align-items\:start {
  align-items: start;
}

.align-items\:center {
  align-items: center;
}

.place-content\:space-between {
  place-content: space-between;
}

.flex-direction\:column {
  flex-direction: column;
}

.flex-direction\:row {
  flex-direction: row;

  @include mq(s) {
    &\@s {
      flex-direction: row;
    }
  }
}

.flex-wrap\:wrap {
  flex-wrap: wrap;
}

.gap {
  gap: rem($space);

  &\:s {
    gap: rem($space-s);
  }

  &\:xs {
    gap: rem($space-xs);
  }
}

.hyphens\:auto {
  hyphens: auto;
}

.transform-none-important {
  transform: none !important;
}

.border\:0 {
  border: 0;
}

.max-w-unset {
  max-width: unset;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset\:0 {
  inset: 0;
}

.pointer-events\:none {
  pointer-events: none;
}

.user-select\:none {
  user-select: none;
}
