@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.reset {
  all: unset;
}

.white-space\:nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;

  @include mq(m) {
    &\@m {
      display: flex;
    }
  }
}

.justify-content\:end {
  justify-content: end;
}

.align-items\:center {
  align-items: center;
}

.flex-direction\:column {
  flex-direction: column;
}

.flex-direction\:row {
  flex-direction: row;

  @include mq(s) {
    &\@s {
      flex-direction: row;
    }
  }
}

.flex-wrap\:wrap {
  flex-wrap: wrap;
}

.gap {
  gap: rem($space);

  &\:s {
    gap: rem($space-s);
  }
}
