.Template--biocode {
  --link: #{$biocode-text};
  --link-hover: #{$biocode-text};
  --text-400: #{$gray-10};
  --border-700: #{$white};
  background-color: $biocode-bg;
  color: $biocode-text;

  .Info {
    @include mq($until: ml) {
      margin-top: rem($space * -4);
    }
  }
}
