/* =======================================
 * Template
 * ======================================= */

.Template {
  background-color: $bg-10;
  top: 0;
}

.Template-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}