.Template {
  background-color: $bg-10;
  min-height: var(--vh);
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100vw;
  z-index: 1;

  /**
   * 1. Hack to remove the applied scroll values from the new view.
   * Why are those even there?!
   */
  &:last-child:not(:only-child).is-transition\:template {
    position: fixed;
    z-index: 0;

    // [data-scroll-section], [data-scroll] { // [1.]
    //   transform: none !important;
    // }
  }

  &.is-transition\:template\:exit {
    z-index: 0;
  }
}

.Template-inner {
  position: relative;
  z-index: 0;
}

.Template-overlay {
  @include positionAbsoluteFill();
  z-index: 1;
}

.Template-img-1.Figure {
  @include mq(l) {
    margin-top: rem($space * -6);
  }
}

.Template-img-2.Figure {
  margin-bottom: rem($space);

  @include mq(m) {
    margin-bottom: 0;
    margin-top: rem($space * 12);
  }
}

.Template-section {
  padding-top: 10vw;

  &.-bg\:50 {
    background: $bg-50-opaque;
  }

  &.-bg\:100 {
    background: $bg-100-opaque;
  }

  &.-bg\:gradient-10-50 {
    background: linear-gradient(transparent, $bg-50-opaque 8%);
  }

  &.-bg\:gradient-10-50-10 {
    background: linear-gradient(transparent, $bg-50-opaque 8%, $bg-50-opaque 92%, transparent);
  }

  &.-padding\:full {
    padding-bottom: 10vw;
  }
}
