.Template--home {
  .Template-about {
    position: relative;
    z-index: 999;
  }

  .Template-about-mobile {
    height: max-content;
    left: var(--wrap-spaceLeft);
    margin-left: rem(-4px);
    position: absolute;
    top: 45vw;
    width: auto;
    z-index: 999;

    @include mq(s) {
      display: none;
    }
  }

  .Template-about-desktop {
    display: none;

    > h1 {
      @include text(m);
    }

    @include mq(s) {
      display: grid;
      max-width: 25ch;
      position: absolute;
      top: 25vw;
      z-index: 98;
    }

    @include mq(ml) {
      max-width: 35ch;

      > h1 {
        @include text(l);
      }
    }

    @include mq(l) {
      max-width: 35ch;
      top: rem($space * 15);
    }
  }
}
