.Template--biocode {
  --Template-bgColor: var(--biocode-bg);
  --link: var(--biocode-text-1000);
  --link-hover: var(--biocode-text-1000);
  --border-1000: var(--biocode-border-1000);
  --text-1000: var(--biocode-text-1000);
  --text-900: var(--biocode-text-900);
  --text-muted: var(--biocode-text-muted);
  --heading: var(--biocode-heading);

  .Info {
    @include mq($until: ml) {
      margin-top: rem($space * -4);
    }
  }
}
