.Template--biocode {
  --Template-bgColor: var(--biocode-bg);
  --link: var(--biocode-text-1000);
  --link-hover: var(--biocode-text-1000);
  --border-700: var(--biocode-border-700);
  --text-700: var(--biocode-text-1000);
  --text-600: var(--biocode-text-900);
  --text-400: var(--biocode-text-800);
  --heading: var(--biocode-heading);
  --border-1000: white;
  color: var(--text-700);

  .Info {
    @include mq($until: ml) {
      margin-top: rem($space * -4);
    }
  }
}
