@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Text {
  letter-spacing: normal;
  transform-origin: top left;

  &.-size\:xs {
    @include text(xs);
  }

  &.-size\:s {
    @include text(s);
  }

  &.-size\:m {
    @include text(m);
  }

  &.-size\:l {
    @include text(l);
  }

  &.-size\:xl {
    @include text(xl);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
    margin-bottom: rem($space-m);
  }

  li {
    margin-bottom: rem($space-2xs);
  }
}
