@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Text {
  letter-spacing: normal;
  transform-origin: top left;

  &.-size\:xs {
    @include text(xs);
  }

  &.-size\:s {
    @include text(s);
  }

  &.-size\:m {
    @include text(m);
  }

  &.-size\:l {
    @include text(l);

    &.-maxWidth {
      max-width: rem($space * 40);
    }
  }

  &.-size\:xl {
    @include text(xl);
  }

  &.-maxWidth {
    max-width: rem($space * 34);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
    margin-bottom: rem($space-m);

    @include mq($until: s) {
      padding-left: rem($space);
    }
  }

  li:not(:last-child) {
    margin-bottom: rem($space-2xs);
  }
}
