@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Text {
  letter-spacing: normal;
  max-width: var(--text-max-width);
  transform-origin: top left;

  &.-size\:xs {
    @include text(xs);
  }

  &.-size\:s {
    @include text(s);
  }

  &.-size\:m {
    @include text(m);
  }

  &.-size\:l {
    @include text(l);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
    margin-bottom: rem($space-m);

    @include mq($until: s) {
      padding-left: rem($space);
    }
  }

  li:not(:last-child) {
    margin-bottom: rem($space-2xs);
  }
}
