.Heading {
  color: var(--heading);
}

.Heading--display {
  @include fontSize(20px, 20px, 999px, 20vw);
  font-weight: $heading-fontWeightLight;
  letter-spacing: -0.065em; // -0.05, -0.035em, 1em
  margin-left: rem(-$space-xs);
  user-select: none;

  @include mq(m) {
    margin-left: rem(-$space-m);
  }

  @include mq($until: xxs) {
    @include fontSize(92px, 92px);
  }
}
