@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Heading {
  color: var(--heading);
  transform-origin: top left;
}

/* =======================================
 * Variants
 * ======================================= */

.Heading {
  &.-maxWidth {
    max-width: var(--heading-max-width);
  }
}

.Heading--xl {
  @include fontSize(
    $h-xl-font-size-min,
    $h-xl-line-height,
    $h-xl-font-size-max,
    $h-xl-font-size-scale
  );
  font-weight: var(--font-weight-100);
  letter-spacing: -0.065em;
  margin-left: rem(-$space-xs);
  user-select: none;

  @include mq(m) {
    margin-left: rem(-$space-m);
  }
}

.Heading--l {
  @include fontSize(
    $h-l-font-size-min,
    $h-l-line-height,
    $h-l-font-size-max,
    $h-l-font-size-scale
  );
}
