@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.SubInfo {
  .grid-col {
    transform-origin: top left;
  }

  @include mq($until: l) {
    order: -1;
  }
}

.SubInfo-ruler {
  margin-bottom: rem($space-ml);
  transform-origin: top left;

  @include mq(s) {
    margin-bottom: rem($space-xl);
  }

  @include mq(l) {
    max-width: 25%;
  }
}
