.Hero--biocode {
  --Stamp-iris: var(--biocode-primary);

  &:not(.-transition\:pre) {
    .Hero-heading {
      color: var(--biocode-heading);
    }
  }

  .Hero-heading {
    z-index: 3;
  }

  .Hero-pre, .Hero-link {
    z-index: 1;
  }

  .Hero-figure {
    height: 100%;
    position: relative;
  }

  .Hero-figure-globe {
    inset: 8% 0 auto -27%;
    margin: 0;
    position: absolute;
    width: clamp(rem($space * 20), 70vw, rem($space * 36));

    @include mq(xs) {
      inset: 6% 0 auto -20%;
    }

    @include mq(s) {
      top: 4%;
    }

    @include mq(xl) {
      inset: -2% -30% auto 0;
      width: auto;
    }
  }

  .Hero-figure-globe--pre {
    transform: scale(0.99);
  }

  .Hero-figure-globe--initial {
    // mask-image: linear-gradient(var(--black) 80%, transparent 95%);
  }

  &.-transition\:pre {
    .Hero-bg {
      bottom: -50vh;
    }
  }

  .Hero-globe {
    z-index: 4;
  }

  .Hero-icon {
    z-index: 5;
  }

  .Hero-figure-icon {
    border: var(--border-width) solid transparent;
    border-radius: 50%;
    inset: auto auto 27% 40%;
    margin: 0;
    padding: rem($space);
    position: absolute;
    transition: border-color $trans-primary;
    width: clamp(rem($space * 6), 17vw, rem($space * 36));

    @include mq(xs) {
      inset: auto auto 23% 50%;
    }

    @include mq(l) {
      inset: auto auto 20% 40%;
    }

    @include mq(xl) {
      inset: auto auto 20% 60%;
    }
  }

  &.is-transition, &:not(.Hero.-transition\:pre) {
    .Hero-figure-icon {
      border-color: var(--biocode-border-200);
    }
  }

  .Hero-figureBg-bg {
    background: var(--bg-gray-50-opaque);
    height: 100%;
  }

  .Hero-bg {
    background: radial-gradient(70% rem($space * 25) at 70% 0, var(--biocode-bg-200), var(--biocode-bg-50)) no-repeat;
    z-index: 2;
  }

  .Hero-textReveal {
    align-items: center;
    display: flex;
    padding-top: 35vw;
    position: absolute;
    z-index: 5;

    .TextReveal {
      @include fontSize(16px, 18px, 52px, 3.5vw);
      font-weight: 100;
      margin: 0;
    }

    @include mq(l) {
      padding-top: rem($space * 28);
    }
  }

  .Hero-textReveal-mobile {
    --heading: var(--biocode-text-1000);
    display: block;
    font-weight: 100;

    @include mq(l) {
      display: none;
    }
  }

  .Hero-textReveal-desktop {
    --heading: var(--biocode-text-900);
    padding-left: rem($space * 8);
    text-align: right;

    .TextReveal-text {
      &:nth-child(2) {
        color: var(--biocode-primary-text);
      }
    }

    @include mq($until: l) {
      display: none;
    }
  }

  .Hero-content {
    text-align: right;

    @include mq(xl) {
      align-self: center;
      text-align: left;
    }
  }
}
