// =======================================
// Grid
// =======================================

$Grid-gutter: $space / 2;

$Grid-justify: true !default;
$Grid-justify\@s: false !default;
$Grid-justify\@m: false !default;
$Grid-justify\@l: false !default;

$Grid-align: true !default;
$Grid-align\@s: false !default;
$Grid-align\@m: false !default;
$Grid-align\@l: false !default;
