@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Stepper {
  counter-reset: step;
  margin-left: rem($space-s);
  padding-left: rem($space-m);
  position: relative;

  &:before {
    border-left: var(--border-width) solid var(--border-200);
    content: '';
    inset: 0 auto 0 0;
    mask-image: linear-gradient(
      var(--black) calc(100% - #{rem($space-6xl)}),
      transparent
    );
    position: absolute;
  }
}

.Stepper-item {
  counter-increment: step;
  position: relative;

  &:not(:first-child) {
    margin-top: rem($space-l);
  }
}

.Stepper-step {
  background: var(--bg-200);
  border: var(--border-width) solid var(--border-200);
  border-radius: var(--border-radius-full);
  box-shadow: 0 0 0 rem($space-xs) var(--bg-50);
  display: grid;
  height: rem($space-m);
  inset: rem($space-4xs) auto 0 rem(($space-m + ($space-m / 2)) * -1);
  line-height: rem($space-m);
  place-content: center;
  position: absolute;
  width: rem($space-m);

  &:before {
    content: counter(step);
    position: relative;
    top: rem($space-6xs);
  }
}

.Stepper-step--beacon,
.Stepper-step--icon {
  &:before {
    content: '';
    top: 0;
  }
}

.Stepper-step--beacon {
  &:before {
    background: var(--bg-950);
    border-radius: var(--border-radius-full);
    height: rem($space-xs);
    width: rem($space-xs);
  }
}

.Stepper-step--icon {
  --Icon-size: var(--Icon-size-s);
}
