@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--milestones {
  .Template-line {
    --Line-height: #{rem($space * 17)};
    --Line-padding-top: #{rem($space)};
    --Line-padding-bottom: #{rem($space-l)};
    --Line-tick-padding-left: #{rem($space-m)};
    --Line-width: #{rem($space * 480)};

    direction: rtl;
    height: var(--Line-height);
    margin-top: calc(var(--Line-padding-top) * -1);
    user-select: none;

    @include mq(l) {
      --Line-padding-bottom: #{rem($space-xl)};
    }
  }

  .Template-line-inner {
    @include text(xs);
    height: 100%;
    overflow: hidden;
    padding-left: calc(var(--wrap-space-left) + var(--Line-tick-padding-left));
    width: var(--Line-width);

    > div {
      height: calc(
        var(--Line-height) -
          (var(--Line-padding-top) + var(--Line-padding-bottom))
      ) !important;

      // Hide tooltip from touch devices because of flicker caused by Nivo
      > div > div:last-child {
        @include mqTouch() {
          display: none;
        }
      }
    }

    svg {
      fill: var(--text-900);
      height: var(--Line-height);
      overflow: visible;

      > g {
        transform: translateY(var(--Line-padding-top)) !important;

        // Axis right. These need to be added like so for Firefox.
        > g:nth-last-of-type(5) {
          > text {
            transform: translate(
                calc(#{rem($space)} * -1 - var(--sw)),
                rem($space * 6.75)
              )
              rotate(-90deg) !important;
          }
        }

        // Axis bottom
        > g:nth-last-of-type(4) {
          > g > text {
            translate: 0 #{rem($space)};
          }
        }

        // Axis left
        > g:nth-last-of-type(3) {
          > g > text {
            translate: calc(var(--Line-tick-padding-left) * -1);
          }
        }
      }
    }
  }

  .Template-line-tooltip {
    background-color: var(--bg-50);
    border-radius: var(--border-radius-s);
    box-shadow: var(--shadow);
    color: var(--text-950);
    padding: rem($space-2xs) rem($space-xs) rem($space-3xs) rem($space-xs);
    text-align: left;

    @include mq($until: m) {
      max-width: 35ch;
    }

    @include mqPointer() {
      transition: translate 0.5s;
    }
  }

  .Template-badges {
    display: flex;
    gap: rem($space-s);
    padding: 0 var(--wrap-space-right) rem($space-xs) var(--wrap-space-left);
  }
}
