@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Icon {
  display: inline-block;
  fill: currentColor;
  height: var(--icon-size-l);
  width: var(--icon-size-l);
}

.Icon--arrowRightLong {
  width: auto;
}
