/* =======================================
 * Icon
 * ======================================= */

.Icon {
  svg {
    fill: currentColor;
  }
}

.Icon--arrowDown {
  align-items: center;
  display: flex;
  height: $Icon-size;
  justify-content: center;
  position: relative;
  width: $Icon-size;

  // *:hover > &,
  // *:focus > &,
  // a:hover &,
  // a:focus &,
  // button:hover &,
  // button:focus &,
  // &:hover, &:focus 
  // {
  //   .Icon-inner {
  //     // transform: translateY(-$space / 3);
  //   }

  //   .Icon-icon {
  //     // transform: translateY($space * 1.5);
  //     // transform: translateY($space / 3);
  //     transform: translateY(3px);
  //   }
  // }

  .Icon-inner {
    align-items: flex-end;
    display: flex;
    bottom: 0;
    height: $Icon-size + 16px;
    left: 0;
    overflow: hidden;
    padding-bottom: 16px;
    position: absolute;
    top: 0;
    // transition: transform $trans-duration $ease-outExpo;
  }

  .Icon-icon {
    flex-shrink: 0;
    // transition: transform $trans-duration $ease-outExpo;
  }
}