@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

.Icon {
  display: inline-block;
  fill: currentColor;
  height: rem($Icon-size);
  width: rem($Icon-size);
}

.Icon--arrowRightLong {
  width: auto;
}
