.Template--biocode {
  --Template-main-bg-color: var(--biocode-bg-50);
  --Template-main-color: var(--biocode-text-1000);

  .Template-main {
    section {
      --bg-100: var(--biocode-bg-100);
      --bg-50: var(--biocode-bg-50);

      --border-1000: var(--biocode-border-300);
      --border-900: var(--biocode-border-200);
      --border-100: var(--biocode-border-200);
      --hr: var(--biocode-border-200);

      --heading: var(--biocode-heading);

      --link-hover: var(--biocode-text-1000);
      --link: var(--biocode-text-1000);

      --text-1000: var(--biocode-text-1000);
      --text-900: var(--biocode-text-900);
      --text-muted: var(--biocode-text-muted);

      --Figure-placeholder-bg: var(--biocode-bg-50);
      --Figure-glare-opacity: 0.05;
    }
  }

  .Template-section {
    &.theme\:light {
      --Template-section-bg-color: var(--biocode-bg-50);
      --Figure-placeholder-bg: var(--biocode-bg-200);
      --Figure-glare-opacity: 1;
    }
  }

  .Template-app {
    margin-top: -10vw;
    padding-top: 25vw;
  }

  @include mq($until: l) {
    --border-radius: 4px;
  }
}
