@use "stylesheets/config" as *;
@use "stylesheets/mixins" as *;

:root {
  --biocode-bg-200: #001141;
  --biocode-bg-100: #000A29;
  --biocode-bg-50: #00081F;

  --biocode-border-300: #23348b;
  --biocode-border-200: hsl(230 30% 40% / 0.35);
  --biocode-border-100: #{rgba(#586DBB, 0.12)};
  --biocode-border-200: hsl(230 30% 40% / 0.25);

  --biocode-primary: #3A59F9;
  --biocode-primary-text: #3377FF;

  --biocode-heading: var(--white);

  --biocode-text-900: var(--white);
  --biocode-text-800: #a3abc2;
  --biocode-text-mute: #858fad;
}

.theme\:light {
  --biocode-bg-300: #e7e7e9;
  --biocode-bg-200: #f7f7f8;
  --biocode-bg-100: #fbfbfc;
  --biocode-bg-50: var(--white);

  --biocode-border-300: #26355d;
  --biocode-border-200: #d9dade;
  --biocode-border-100: #e6e7ea;
}

