@use 'stylesheets/mixins' as *;

.Template--biocode {
  --Template-bg-color: var(--biocode-bg-50);
  --Footer-bg-color: var(--bg-50);
  --NextProject-bg-color: var(--bg-50);
  --Figure-placeholder-bg: var(--biocode-bg-100);
  --Figure-glare-opacity: 0.05;
  --border-100: var(--biocode-border);
  --border-900: var(--biocode-border);
  --link: var(--biocode-text-900);
  --text-700: var(--biocode-text-700);
  --text-800: var(--biocode-text-800);
  --text-900: var(--biocode-text-900);

  .Template-section {
    &.theme\:light {
      --Template-section-bg-color: var(--biocode-bg-50);
      --Figure-placeholder-bg: var(--biocode-bg-200);
      --Figure-glare-opacity: 1;
      --border-100: var(--biocode-border);
    }
  }

  .Template-app {
    margin-top: -10vw;
    padding-top: 25vw;
  }

  @include mq($until: l) {
    --border-radius: var(--border-radius-s);
  }
}
