@use 'stylesheets/mixins' as *;

.Template--biocode {
  --Template-main-bg-color: var(--biocode-bg-50);
  --Template-main-color: var(--biocode-text-900);

  .Template-main {
    --bg-200: var(--biocode-bg-50);
    --bg-100: var(--biocode-bg-100);
    --bg-50: var(--biocode-bg-50);

    --border-900: var(--biocode-border);
    --border-100: var(--biocode-border);

    --heading: var(--biocode-heading);

    --link-hover: var(--biocode-text-900);
    --link: var(--biocode-text-900);

    --text-900: var(--biocode-text-900);
    --text-800: var(--biocode-text-800);
    --text-700: var(--biocode-text-700);

    --Figure-glare-opacity: 0.05;
  }

  .Template-section {
    &.theme\:light {
      --Template-section-bg-color: var(--biocode-bg-50);
      --bg-200: var(--biocode-bg-200);
      --border-100: var(--biocode-border);
      --Figure-glare-opacity: 1;
    }
  }

  .Template-app {
    margin-top: -10vw;
    padding-top: 25vw;
  }

  @include mq($until: l) {
    --border-radius: var(--border-radius-s);
  }
}
