/* =======================================
 * Text Mixins
 * ======================================= */

@mixin TextLight() {
  color: $textLight;
}

@mixin TextSubtitle() {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin TextLink() {
  color: $text;

  &:hover, &:focus {
    color: $link;
  }
}

@mixin TextLinkHighlight() {
  background-color: rgba($primary, 0.2);
  color: $link;
  text-decoration: underline;
  text-decoration-color: $link;

  &:hover, &:focus {
    color: $linkHover;
  }
}

@mixin TextLead() {
  @include fontSize($fontSize-xl, $lineHeight-xl);
  hyphens: auto;
}
