@use 'stylesheets/config' as *;
@use 'stylesheets/mixins' as *;

.Template--404 {
  .Template-main {
    display: grid;
    padding: rem($space-6xl) 0 rem($space-2xl) 0;
    place-content: center;
    place-items: center;
  }
}
